{% extends "base.html" %}
{% block body %}
    <h4>
    <a target="_blank" href="">VNOJ (Viet Nam Online Judge)</a> 
    This file is copy from <a target="_blank" href="https://raw.githubusercontent.com/LQDJudge/online-judge/master/templates/about/custom-checker-sample.html">LQDOJ</a> 
    </h4>
    <style>
        article {
            padding: 2.5em 3.5em;
            font-size: 1.1em;
        }
        .code2 {
            color: #333333;
            background-color: #f7f7f7;
            font-family: Consolas;
            line-height: 1.45;
        }
        .code2 {
            padding: 1em;
        }
        li {
            padding: 0.2em;
        }
    </style>
    <script>

    </script>

    <article id="py">
        <h2>1. Custom checker (PY)</h2>
        <hr>
        <p>
            Đây là checker mặc định của website, cho phép người dùng cập nhật được nhiều thông tin nhất (chi tiết xem ở  bên dưới). Chúng ta cần hoàn thành hàm check dưới đây:
        </p>

        <pre class="code2">
def check(process_output, judge_output, **kwargs):
    # return True/False</pre>
        
        <p>
            Trong đó, <code>**kwargs</code> có thể chứa các biến sau:
        </p>
        <ul>
            <li><code>process_output:</code> output</li>
            <li><code>judge_output:</code> đáp án</li>
            <li><code>submission_source</code>: Code bài nộp</li>
            <li><code>judge_input</code>: input</li>
            <li><code>point_value:</code> điểm của test đang chấm</li>
            <li><code>case_position:</code> thứ tự của test</li>
            <li><code>submission_language:</code> ngôn ngữ của bài nộp</li>
            <li><code>execution_time:</code> thời gian chạy</li>
        </ul>
        <h2>Return: </h2>
        <ol>
            <li>Cách 1: Trả về True/False</li>
            <li>Cách 2: Trả về một object <code>CheckerResult</code> có thể được gọi như sau <pre class="code2">CheckerResult(case_passed_bool, points_awarded, feedback='')</pre></li>
        </ol>

        <h2>Ví dụ: </h2>
        <p>Dưới đây là ví dụ cho bài toán a plus b: 
        </p>
        <pre class="code2">
from dmoj.result import CheckerResult


def wa(feedback):
    return CheckerResult(False, 0, feedback)


def check(process_output, judge_output, judge_input, point_value, **kwargs):
    # process the input
    process_output = process_output.decode("ascii")
    judge_output = judge_output.decode("ascii")
    judge_input = judge_input.decode("ascii")

    input_arr = judge_input.split('\n')
    output_arr = process_output.split('\n')
    n = int(input_arr[0])
    for i in range(n):
        a, b = (int(x) for x in input_arr[i + 1].split())
        if a + b != int(output_arr[i]):
            return CheckerResult(False, 0, f"{a} + {b} != {output_arr[i]}")
    return CheckerResult(True, point_value, "Ok dung rui")</pre>
    </article>
    <article id="cpp">
        <h2>2. Custom validator (CPP)</h2>
        <hr>
        <p>
        Để sử dụng chức năng này, cần viết một chương trình C++ pass vào 3 arguments theo thứ tự <code>input_file</code>, <code>output_file</code>, <code>ans_file</code> tương ứng với các file input, output, đáp án.
        </p>
        <p>
            Để test chương trình trên máy tính, có thể dùng lệnh như sau (Windows):
            <pre class="code2">
main.exe [input_file] [output_file] [ans_file]</pre> 
            hoặc thay bằng <code>./main</code> trên Linux/MacOS.
        </p>
        <h2>Return: </h2>
        <p>
            Chương trình trả về giá trị:
            <ul>
                <li> 0 nếu AC (100% điểm)</li>
                <li> 1 nếu WA (0 điểm)</li>
                <li> 2 nếu điểm thành phần. Khi đó cần in ra stderr một số thực trong đoạn [0, 1] thể hiện cho tỷ lệ điểm. Nếu điểm < 1 thì hiển thị WA, điểm = 1 thì hiển thị AC. Lưu ý rằng điểm phải được in ra ở dòng đầu tiên của stderr. </li> 
                <li> Nếu chương trình trả về giá trị khác (run time error) thì bài nộp sẽ được 0 điểm (xem như WA)
            </ul>
            Những thông tin được viết ra stdout (bằng cout) sẽ được in ra màn hình cho người nộp bài(feedback), nhưng thông tin này chỉ hiển thị được khoản 20 ký tự. </br>
            Nếu muốn người dùng xem được nhiều feedback hơn, thì in feedback vào stderr (lưu ý in sau khi in điểm ở dòng đầu tiên).
        </p>

        <h2>Ví dụ: </h2>
        <p>Chương trình sau dùng để chấm bài toán: Cho n là một số nguyên dương. In ra hai số tự nhiên a, b sao cho a + b = n. </p>
        <p>Nếu in ra a + b = n và a, b >= 0 thì được 100% số điểm, nếu a + b = n nhưng một trong 2 số a, b âm thì được 50% số điểm. </p>
        <pre class="code2">
#include &lt;bits/stdc++.h&gt;
using namespace std;

int main(int argc, char** argv) {
    ifstream inp(argv[1]);
    ifstream out(argv[2]);
    ifstream ans(argv[3]);

    int n, a, b, c, d;
    
    inp &gt;&gt; n;
    out &gt;&gt; a &gt;&gt; b;
    ans &gt;&gt; c &gt;&gt; d;

    if (a + b == c + d) {
        cout &lt;&lt; a &lt;&lt; &quot; + &quot; &lt;&lt; b &lt;&lt; &quot; = &quot; &lt;&lt; c &lt;&lt; &quot; + &quot; &lt;&lt; d &lt;&lt; endl;
            
        if (a >= 0 && b >= 0) {
            cerr &lt;&lt; &quot;Th&iacute;s line will be show to the contestants as a extended feedback&quot;;
            return 0; // AC
        }
        else {
            cerr &lt;&lt; 0.5 &lt;&lt; &apos;\n&apos;; // in ra điểm ở dòng đầu tiên
            cerr &lt;&lt; &quot;Th&iacute;s line will be show to the contestants as a extended feedback&quot;;
            return 2; // PARTIAL
        }
    }     
    else {
        cout &lt;&lt; &quot;a + b = &quot; &lt;&lt; a + b &lt;&lt; &quot; != &quot; &lt;&lt; n &lt;&lt; endl;
        return 1; // WA
    }
}
        </pre>
    </article>
{% endblock body %}