{% extends "generic-message.html" %}

{% block body %}
    {{ _('You are not allowed to create new organizations because you are the administrator of %(limit)s organizations. Please use your existing organizations.', limit=('<strong>more than %d</strong>' % admin_limit)|safe) }}
    <br><br>
    {{ _('Below are a list of organizations in which you are the administrator:') }}
    {% for org in admin_of %}
        <ui>
            <li><a href="{{org.get_absolute_url()}}">{{org.name}}</a></li>
        </ui>
    {% endfor %}
{% endblock %}
