{% extends "base.html" %}

{% block js_media %}{{ form.media.js }}{% endblock %}

{% block media %}
    {{ form.media.css }}
    <style>
        #id_name, #id_slug, #id_about, #id_logo_override_image {
            width: 100%;
        }
        .django-as-table th {
            width: 10em;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="centered-form">
        <form action="" method="post" class="form-area">
            {% csrf_token %}
            <table border="0" class="django-as-table">{{ form.as_table() }}</table>
            <button class="submit-bar" type="submit">
                {% if request.resolver_match.url_name == 'organization_create' %}
                    {{ _('Create') }}
                {% else %}
                    {{ _('Update') }}
                {% endif %}
            </button>
        </form>
    </div>
{% endblock %}
