{% extends "base.html" %}
{% block js_media %}
    <script src="{{ static('libs/tablesorter.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.organization-table').tablesorter({sortList: [[1, 1]]});

            $('input#show_all_orgs').click(function () {
                ($('<form>').attr('action', window.location.pathname + '?' + $('form#show-all-orgs-form').serialize())
                    .append($('<input>').attr('type', 'hidden').attr('name', 'csrfmiddlewaretoken')
                        .attr('value', $.cookie('csrftoken')))
                    .attr('method', 'POST').appendTo($('body')).submit());
            });
        });
    </script>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'organizations' %}
    {% include "organization/list-tabs.html" %}
{% endblock %}

{% macro org_table(name, queryset, show_admin_info=False) %}
    <h4>{{ name }}</h4>
    <table class="organization-table table striped">
        <thead>
            <tr>
                <th{% if not show_admin_info %} style="width:70%"{% endif %}>{{ _('Name') }}</th>
                <th{% if not show_admin_info %} style="width:15%"{% endif %}>{{ _('Points') }}</th>
                <th>{{ _('Members') }}</th>
                {% if show_admin_info %}
                    <th>{{ _('Short name') }}</th>
                    <th>{{ _('Slug') }}</th>
                    <th>{{ _('Admins') }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for org in queryset %}
            <tr>
                <td class="organization-name"><a href="{{ org.get_absolute_url() }}">{{ org.name }}</a></td>
                <td><a href="{{ org.get_users_url() }}">{{ org.performance_points|floatformat(2) }}</a></td>
                <td><a href="{{ org.get_users_url() }}">{{ org.member_count }}</a></td>
                {% if show_admin_info %}
                    <td>{{ org.short_name }}</td>
                    <td>{{ org.slug }}</td>
                    <td>{{ link_users(org.admins.all()) }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% block body %}
    <div class="content-description">
        {% if user_organizations %}
            {{ org_table(_('Your organizations'), user_organizations, show_admin_info=show_all_orgs) }}
        {% endif %}

        {% if (page_obj and page_obj.has_other_pages()) or show_all_orgs %}
            <div class="top-pagination-bar">
                {% if page_obj and page_obj.has_other_pages() %}
                    {% include "list-pages.html" %}
                {% endif %}
                {% if show_all_orgs %}
                    <div style="display: flex; align-items: center; margin-left: auto;">
                        <form id="search-form" name="form" action="" method="get">
                            <input id="search" type="text" name="search" value="{{ search_query or '' }}"
                                placeholder="{{ _('Search organization...') }}">
                        </form>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {{ org_table(_('All organizations'), organizations, show_admin_info=show_all_orgs) }}
    </div>
{% endblock %}
