{% extends "tabs-base.html" %}

{% block tabs %}
    {% if organization.is_admin(request.profile) %}
        {% if tab == 'problem-list' and request.user.has_perm('judge.create_organization_problem') %}
            {{ make_tab('create', 'fa-plus add-problem', url('problem_create_organization', organization.id, organization.slug), _('Create new problem')) }}
        {% endif %}
        {% if tab == 'contest-list' and request.user.has_perm('judge.create_private_contest') %}
            {{ make_tab('create', 'fa-plus add-contest', url('contest_create_organization', organization.id, organization.slug), _('Create new contest')) }}
        {% endif %}
    {% endif %}
    {{ make_tab('problem-list', 'fa-puzzle-piece', url('problem_list_organization', organization.pk, organization.slug), _('Problems list')) }}
    {{ make_tab('contest-list', 'fa-trophy', url('contest_list_organization', organization.pk, organization.slug), _('Contests list')) }}
    {{ make_tab('submission', 'fa-list', url('all_submissions') + '?organization=' + str(organization.pk), _('Submissions')) }}
{% endblock %}
