{% extends "user/base-users.html" %}

{% block users_media %}
    <style>
        .kick-form .button {
            margin: -8px 0;
        }

        form.kick-form a.button {
            visibility: hidden;
        }

        tr:hover td > form.kick-form a.button {
            visibility: visible;
        }
    </style>

    {% if is_admin %}
        <style>
            th.username, td.user-name {
                border-right: none;
            }
        </style>
    {% endif %}
{% endblock %}

{% block js_media %}
    <script>
        $(function () {
            $('form.kick-form').find('a.button').click(function () {
                if (confirm({{ _('Are you sure you want to kick this user?')|htmltojs }})) {
                    $(this).parent().submit();
                }
                return false;
            })

            $('#search-handle').replaceWith($('<select>').attr({
                id: 'search-handle',
                name: 'id',
                onchange: 'form.submit()'
            }));
            var in_user_redirect = false;
            $('#search-handle').select2({
                theme: '{{ DMOJ_SELECT2_THEME }}',
                placeholder: {{ _('Search by handle...')|htmltojs }},
                ajax: {
                    url: '{{ url('organization_profile_select2', organization.pk) }}',
                    delay: 300
                },
                minimumInputLength: 1,
                templateResult: function (data, container) {
                    return $('<span>')
                        .append($('<img>', {
                            'class': 'user-search-image', src: data.gravatar_url,
                            width: 24, height: 24
                        }))
                        .append($('<span>', {'class': data.display_rank + ' user-search-name'}).text(data.text));
                }
            }).on('select2:selecting', function () {
                return !in_user_redirect;
            });

            var $last = null;
            $(window).on('hashchange', function () {
                var hash = window.location.hash;
                if (hash.startsWith('#!')) {
                    var $user = $('#user-' + hash.substring(2)).addClass('highlight');
                    if ($user) {
                        $(document).scrollTop($user.position().top - 50);
                        if ($last !== null) $last.removeClass('highlight');
                        $last = $user;
                    }
                }
            }).trigger('hashchange');

            document.getElementById('search-form').action = "{{ url('org_user_ranking_redirect', organization.slug) }}"
        });
    </script>
{% endblock %}

{% block title_row %}
    {% set tab = 'users' %}
    {% include "organization/tabs.html" %}
{% endblock %}
{% block title_ruler %}{% endblock %}

{% block users_table %}
    {% set table_id='organization-users-table' %}
    {% include "organization/users-table.html" %}
{% endblock %}
