.idea
.vscode
.sass-cache
*.sqlite3
*.py[co]
*.mo
*~
*.swp
dmoj/local_settings.py
dmoj-site.pid
dmoj-site.sock
uwsgi.ini
.fuse_hidden*
resources/style.css
resources/content-description.css
resources/ranks.css
resources/table.css
resources/martor-description.css
sass_processed
bridge_log.txt
_mytempfile/
tmp_uwsgi.ini
nginx_template.conf
martor/
judge/fixtures/fixed*
judge/fixtures/voj_*
judge/fixtures/VOJ_*
VOJ_*problems.json
vo21.json
tmp.json
language_voj.json
/static
backup*.json
custom_script_*
websocket/config.js
node_modules/
package-lock.json
db.json
tmp.sh
*.sql
fc_*
local_urls.py
