.idea
.vscode
.sass-cache
.python-version
*.sqlite3
*.py[co]
*.mo
*~
*.swp
dmoj/local_settings.py
dmoj-site.pid
dmoj-site.sock
uwsgi.ini
.fuse_hidden*
resources/dark
resources/martor-description.css
resources/select2-dmoj.css
resources/style.css
resources/vars.scss
sass_processed
bridge_log.txt
_mytempfile/
tmp_uwsgi.ini
nginx_template.conf
martor/
judge/fixtures/fixed*
judge/fixtures/voj_*
judge/fixtures/VOJ_*
VOJ_*problems.json
vo21.json
tmp.json
language_voj.json
/static
backup*.json
custom_script_*
websocket/config.js
node_modules/
package-lock.json
db.json
tmp.sh
*.sql
fc_*
local_urls.py
