{% extends "base.html" %}

{% block body %}
    <div class="auth-flow-form">
        <form action="" method="post" class="form-area">
            {% csrf_token %}
            {% if form.errors %}
                <div id="form-errors" style="max-width: fit-content;">
                    <p class="error">{{ _('Invalid username or password.') }}</p>
                    {% for error in form.non_field_errors() %}
                        <p class="error">{{error}}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <table border="0" style="text-align:left">
                <tr>
                    <th><i class="fa fa-user fa-fw"></i>
                    </th>
                    <td>{{ form.username }}
                    </td>
                </tr>
                <tr>
                    <th><i class="fa fa-key fa-fw"></i>
                    </th>
                    <td>{{ form.password }}
                    </td>
                </tr>
            </table>
            <hr>
            <button style="float:right;" type="submit">{{ _('Login!') }}</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <a href="{{ url('password_reset') }}">{{ _('Forgot your password?') }}</a>

        {% include "registration/oauth.html" %}
    </div>
{% endblock %}
