<span style="display:block;margin: 0 2px;padding: 1em;background-color: rgb(255, 255, 255);border-radius: 6px;font-size: .95em;color: #444;margin-bottom:0.75em"></span>
<div style="display:block;margin-left:2em"><img height="100" src="https://raw.githubusercontent.com/VNOI-Admin/OJ/master/resources/icons/logo.png" style="display:inline;vertical-align: middle;">
</div>
<div style="display:block;margin: 0 2px;padding: 1em;border: 3px solid #2980B9;background-color: #f8f8f8;border-radius: 6px;font-size: .95em;color: #444;">

{% trans username=user.get_username() %}<b>Forgot your password on the {{ site_name }}? Don't worry!</b><br><br>
To reset the password for your account "{{ username }}", click the button below.{% endtrans %}
<p align="center">
<a href="{{ protocol }}://{{ domain }}{{ url('password_reset_confirm', uidb64=uid, token=token) }}" style="cursor: pointer;display:block;text-align: center;padding: 4px 2px 5px;color: white;border: 1px solid #666;border-radius: 1px;background: #2980b9;background: linear-gradient(180deg, #00aee0, #2980b9);text-decoration: none;line-height:2em;font-size:1em;width:12em;">Reset password</a>
</p>
{{ _('See you soon! If you have problems resetting your password, feel free to shoot us a message at: ') }} <a href="https://discord.gg/TDyYVyd"><img src = "https://img.shields.io/discord/660930260405190688?color=%237289DA&label=Discord&logo=Discord"></a>
</div>