{% extends "base.html" %}

{% block body %}
    <p>{{ _("We've emailed you instructions for setting your password. You should be receiving them shortly.") }}</p>
    <p>{{ _("If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.") }}</p>
    <p>{{ _('See you soon! If you have problems resetting your password, feel free to shoot us a message at: ') }} <a href="https://discord.gg/TDyYVyd"><img src = "https://img.shields.io/discord/660930260405190688?color=%237289DA&label=Discord&logo=Discord"></a></p>
{% endblock %}