<span style="display:block;margin: 0 2px;padding: 1em;background-color: rgb(255, 255, 255);border-radius: 6px;font-size: .95em;color: #444;margin-bottom:0.75em"></span>
<div style="display:block;margin-left:2em"><img height="100" src="https://raw.githubusercontent.com/VNOI-Admin/OJ/master/resources/icons/logo.png" style="display:inline;vertical-align: middle;">
</div>
<div style="display:block;margin: 0 2px;padding: 1em;border: 3px solid #2980B9;background-color: #f8f8f8;border-radius: 6px;font-size: .95em;color: #444;">

<b>{{ _("Forgot your password on the %(site_name)s? Don't worry!", site_name=site_name) }}</b><br><br>
{{ _('To reset the password for your account "%(username)s", click the button below.', username=user.get_username()) }}
<p align="center">
<a href="{{ protocol }}://{{ domain }}{{ url('password_reset_confirm', uidb64=uid, token=token) }}" style="cursor: pointer;display:block;text-align: center;padding: 4px 2px 5px;color: white;border: 1px solid #666;border-radius: 1px;background: #2980b9;background: linear-gradient(180deg, #00aee0, #2980b9);text-decoration: none;line-height:2em;font-size:1em;width:12em;">{{ _('Reset Password') }}</a>
</p>
{{ _('See you soon! If you have problems resetting your password, feel free to shoot us a message at: ') }}{% if misc_config.discord_invite_link and misc_config.discord_invite_shieldio %}<a href="{{ misc_config.discord_invite_link }}"><img src="{{ misc_config.discord_invite_shieldio }}"></a>{% endif %}
</div>
