{% extends "base.html" %}

{% block body %}
    <p>{{ _("We've emailed you instructions for setting your password. You should be receiving them shortly.") }}</p>
    <p>{{ _("If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.") }}</p>
    <p>{{ _('See you soon! If you have problems resetting your password, feel free to shoot us a message at: ') }}{% if misc_config.discord_invite_link and misc_config.discord_invite_shieldio %}<a href="{{ misc_config.discord_invite_link }}"><img src="{{ misc_config.discord_invite_shieldio }}"></a>{% endif %}</p>
{% endblock %}
