{% extends "base.html" %}

{% block js_media %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="text/javascript">
        window.django = {jQuery: $};
    </script>


    <script>
        // This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
        window.addEventListener("DOMContentLoaded", function () {
            flatpickr(".datetimefield", {
                enableTime: true,
                enableSeconds: true,
                dateFormat: "Y-m-d H:i:S",
            });
        });
    </script>

    <script src="{{ static('vnoj/jquery.formset.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $('#form_set tr').formset({
                prefix: '{{ contest_problem_formset.prefix }}'
            });
        })
    </script>
    {{ form.media.js }}
{% endblock %}

{% block media %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    {{ form.media.css }}
    <style>
        .helptext {
            font-size: 13px;
            color: #999;
            border-width: 0 0 1px 0;
        }
        .helptext::before {
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            content: "\f05a";
            padding-right: 5px;
            font-size: 14px;
        }
        .django-as-table {
            border-collapse:collapse;
        }
        .django-as-table th, td {
            padding-bottom: 10px;
        }
        .django-as-table th {
            max-width: 10em;
            width: 10em;
        }
        .required th::after {
            content: "*";
            color: red;
        }
        .errorlist {
            background: rgba(255, 0, 0, 0.3);
            border: 3px dashed red;
            border-right: none;
            border-left: solid red;
            padding: 0 1em 0.1em 2em;
            margin: 0.3em 0 0.5em 0;
        }
        .errornote {
            border: 3px dashed #ffc000;
            border-left: solid #ffc000;
            padding: 0.7em 2em;
            margin: 0 0 8px;
            font-size: 13px !important;
            font-weight: 400;
        }
        .problem-column {
            width: 20em;
        }
        .add-row {
            display: block;
            text-align: right;
            visibility: hidden;
        }

        .add-row::after {
            visibility: visible;
            content: "{{ _("Add new problem") }}";
        }
        
        .delete-row {
            color: white;
            background-color: red;
            padding: 3px;
            border-radius: 3px;
        }

    </style>
{% endblock %}

{% block body %}

{% macro from_as_row(form) -%}
    {% if form.non_field_errors() %}
    <tr>
        <td colspan="6">{{ form.non_field_errors() }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>{{ form.id }} {{ form.problem.errors }}{{ form.problem }}</td>
        <td class="points-column">{{ form.points.errors }}{{ form.points }}</td>
        <td>{{ form.order.errors }}{{ form.order }}</td>
        <td>
        {% if contest_problem_formset.can_delete and form.instance.pk %}
            {{ form.DELETE }}
        {% endif %}
        </td>
    <tr>
{%- endmacro %}

<div>
    {% block edit_contest %}
        {% if request.user.is_staff %}
            <div class="alert alert-warning alert-dismissable">
                <a class="close">x</a>
                <a href="{{ url('admin:judge_contest_change', contest.id) }}">{{ _('Edit contest in admin panel for more options') }}</a>
            </div>
        {% endif %}
    {% endblock %}
    <form action="" method="post" class="form-area" style="width: 100%; display: flex; justify-content: center; flex-direction: column;">
        {% csrf_token %}
        {{ contest_problem_formset.management_form }}
        <table class="django-as-table">{{ form.as_table() }}</table>
        <hr>
        <center><h3> {{ _('Problems') }} </h3></center>
        {% if contest_problem_formset.non_form_errors() %}
            {{ contest_problem_formset.non_form_errors() }}
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th class="problem-column"> {{ _('Problems') }} </th>
                    <th class="points-column"> {{ _('Points') }} </th>
                    <th> {{ _('Order in contest') }} </th>
                    <th> {{ _('Delete') }} </th>
                </tr>
            </thead>
            <tbody id="form_set">
                {% for form in contest_problem_formset %}
                    {{ from_as_row(form) }}
                {% endfor %}
            </tbody>
        </table>
        <div style="display: flex; justify-content: flex-end;"><button class="submit-bar" type="submit">{{ _('Create') }}</button></div>
    </form>
</div>
{% endblock %}
