{% extends "base.html" %}

{% block js_media %}
    {% include "leave-warning.html" %}
    <script src="/static/vnoj/flatpickr/flatpickr.js"></script>
    <script type="text/javascript">
        window.django = {jQuery: $};
    </script>

    <script>
        // This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
        window.addEventListener("DOMContentLoaded", function () {
            flatpickr(".datetimefield", {
                enableTime: true,
                enableSeconds: true,
                dateFormat: "Y-m-d H:i:S",
                time_24hr: true,
            });
        });
    </script>

    <script src="{{ static('vnoj/jquery.formset.js') }}"></script>
    <script type="text/javascript" src="{{ static('vnoj/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ static('libs/featherlight/featherlight.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var dragDropMode = false;

            function _hideRowOrderInput($order) {
                if ($order.data('origType') === undefined) {
                    $order.data('origType', $order.attr('type'));
                }
                return $order.attr('type', 'hidden');
            }

            function _initRowOrder(row) {
                var $order = _hideRowOrderInput(row.find('input[id$="-order"]'));
                if (!row.find('span.order').length) {
                    $order.after($('<span>', {'class': 'order'}).text($order.val()))
                          .after($('<i>', {'class': 'fa fa-fw fa-lg fa-ellipsis-v'}));
                }

                _renumberOrders();
            }

            function _revertRowOrder(row) {
                var $order = row.find('input[id$="-order"]');
                var origType = $order.data('origType');
                if (origType !== undefined) $order.attr('type', origType);
                row.find('span.order').remove();
                row.find('i.fa-ellipsis-v').remove();
            }

            function _positionOrderHeader(dragDropMode) {
                var $headerRow = $('#problem-table thead tr');
                var $orderTh = $headerRow.find('th.order-column');
                if (dragDropMode) {
                    $orderTh.prependTo($headerRow);
                } else {
                    $orderTh.insertAfter($headerRow.find('th.points-column'));
                }
            }

            function _positionRowOrderCell(row, dragDropMode) {
                var $orderTd = row.find('td.order-column');
                if (dragDropMode) {
                    $orderTd.prependTo(row);
                } else {
                    $orderTd.insertAfter(row.find('td.points-column'));
                }
            }

            function _renumberOrders() {
                var idx = 1;
                $('#form_set tr.dynamic-form:visible').each(function() {
                    $(this).find('input[id$="-order"]').val(idx);
                    $(this).find('span.order').text(idx);
                    idx++;
                });
            }

            function _autoFillOrder(row) {
                var maxOrder = 0;
                $('#form_set tr.dynamic-form:visible').not(row).find('input[id$="-order"]').each(function() {
                    var val = parseInt($(this).val()) || 0;
                    if (val > maxOrder) maxOrder = val;
                });
                var newOrder = maxOrder + 1;
                var $order = _hideRowOrderInput(row.find('input[id$="-order"]')).val(newOrder);
                if (!row.find('span.order').length) {
                    $order.after($('<span>', {'class': 'order'}).text(newOrder))
                          .after($('<i>', {'class': 'fa fa-fw fa-lg fa-ellipsis-v'}));
                } else {
                    row.find('span.order').text(newOrder);
                }
            }

            function _enterDragDropMode() {
                dragDropMode = true;
                _positionOrderHeader(true);
                $('#form_set tr.dynamic-form').each(function() {
                    _positionRowOrderCell($(this), true);
                    _initRowOrder($(this));
                });
                $('#form_set').sortable('enable');
                $('#problem-table').addClass('dragdrop-mode');
                $('#order-mode-toggle').text({{ _('Switch to manual order mode')|tojson }});
            }

            function _exitDragDropMode() {
                dragDropMode = false;
                $('#form_set').sortable('disable');
                $('#form_set tr.dynamic-form').each(function() {
                    _revertRowOrder($(this));
                    _positionRowOrderCell($(this), false);
                });
                _positionOrderHeader(false);
                $('#problem-table').removeClass('dragdrop-mode');
                $('#order-mode-toggle').text({{ _('Switch to drag and drop mode')|tojson }});
            }

            $('#order-mode-toggle').click(function() {
                if (dragDropMode) _exitDragDropMode(); else _enterDragDropMode();
            });

            $('#form_set tr').formset({
                prefix: '{{ contest_problem_formset.prefix }}',
                deleteText: '<i class="fa fa-trash" aria-hidden="true"></i>',
                added: function(row) {
                    row.find('select[id$="-problem"]').val(null).trigger('change');
                    _positionRowOrderCell(row, dragDropMode);
                    if (dragDropMode) {
                        _autoFillOrder(row);
                    }
                    {% if contest_org %}
                    var $probSel = row.find('select[data-problem-src]');
                    if ($probSel.data('select2')) $probSel.select2('destroy');
                    $probSel.val(null);
                    _initProblemPicker($probSel[0]);
                    {% endif %}
                },
            });

            var oldSortIndex;
            $('#form_set').sortable({
                handle: 'td.order-column',
                placeholder: 'placeholder',
                cancel: '.dynamic-form-add',
                disabled: true,
                start: function(event, ui) {
                    ui.placeholder.empty();
                    oldSortIndex = ui.item.index();
                },
                stop: function(event, ui) {
                    _renumberOrders();
                },
            });

            $('form').submit(function() {
                $('#form_set tr.dynamic-form').each(function() {
                    var filled = false;
                    $(this).find('input, select').each(function() {
                        var $this = $(this);
                        if (!$this.attr('name')) return;
                        if ($this.attr('type') === 'checkbox')
                            filled |= $this.is(':checked');
                        else if (!$this.attr('name').endsWith('order'))
                            filled |= !!$this.val();
                    });
                    if (!filled)
                        $(this).find('input[id$="-order"]').val('');
                });
            });

            var noResults = function () {
                return {{ _('Press Enter to select multiple users...')|htmltojs }};
            };

            $(document).one('click', '#id_private_contestants + .select2', function (e) {
                $('#id_private_contestants').data().select2.options.get('translations').dict['noResults'] = noResults;
            });

            $(document).on('keyup', '#id_private_contestants + .select2 .select2-search__field', function (e) {
                if (e.keyCode === 13) {
                    var $id_private_contestants = $('#id_private_contestants');
                    var contestants = $(this).val().split(/[\s,]+/);
                    if (contestants.length <= 1) {
                        // Skip to let select2 handle this
                        return;
                    }

                    $.ajax({
                        type: 'GET',
                        url: $id_private_contestants.data().select2.dataAdapter.ajaxOptions.url,
                        data: {
                            multiple_terms: contestants,
                        },
                        success: function (response) {
                            for (const contestant of response.results) {
                                $id_private_contestants.select2('trigger', 'select', {
                                    data: contestant,
                                });
                            }
                        },
                    });
                }
            });

            {% if contest_org %}
            var _problemSrcUrls = {
                org: "{{ url('org_problem_select2', org_pk=contest_org.id) }}",
                public: "{{ url('public_problem_select2') }}",
            };
            var _problemSrcLabels = {
                org: {{ _('Organization problems')|tojson }},
                public: {{ _('Public problems')|tojson }},
            };

            function _initProblemPicker(select) {
                var $sel = $(select);
                if ($sel.data('select2')) $sel.select2('destroy');
                $sel.select2({
                    ajax: {
                        url: function() { return _problemSrcUrls[$sel.data('problemSrc') || 'org']; },
                        delay: 300,
                        data: function(p) { return { term: p.term || '', page: p.page || 1 }; },
                        processResults: function(d) { return { results: d.results, pagination: { more: d.more } }; },
                    },
                    placeholder: '---------',
                    minimumInputLength: 0,
                    width: '100%',
                });
                $sel.on('select2:open', function() {
                    var $dropdown = $('.select2-container--open .select2-dropdown');
                    if ($dropdown.find('.tab-bar').length) return;
                    var $tabBar = $('<div class="tab-bar"></div>');
                    Object.keys(_problemSrcUrls).forEach(function(key) {
                        var $btn = $('<button type="button" class="tab-bar-btn">' + _problemSrcLabels[key] + '</button>');
                        if (($sel.data('problemSrc') || 'org') === key) $btn.addClass('active');
                        $btn.on('mousedown', function(e) {
                            e.preventDefault();
                            if (($sel.data('problemSrc') || 'org') === key) return;
                            $sel.data('problemSrc', key);
                            $tabBar.find('.tab-bar-btn').removeClass('active');
                            $(this).addClass('active');
                            $dropdown.find('.select2-search__field').val('').trigger('input');
                        });
                        $tabBar.append($btn);
                    });
                    $dropdown.prepend($tabBar);
                });
            }

            $('#form_set select[data-problem-src]').each(function() { _initProblemPicker(this); });
            {% endif %}
        })
    </script>
    {{ form.media.js }}
{% endblock %}

{% block media %}
    <link rel="stylesheet" href="/static/vnoj/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{{ static('vnoj/jquery-ui/jquery-ui.min.css') }}">
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{{ static('ui_form.css') }}">
    <style>
        body.dragging, body.dragging * {
            cursor: move !important;
        }

        .dragged {
            position: absolute;
            opacity: 0.5;
            z-index: 2000;
        }

        tr.placeholder {
            display: block;
            background: red;
            position: relative;
            margin: 0;
            padding: 0;
            border: none;
        }

        tr.placeholder:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-left-color: red;
            margin-top: -5px;
            left: -5px;
            border-right: none;
        }

        #problem-table.dragdrop-mode td.order-column {
            cursor: move;
        }

        #problem-table.dragdrop-mode .order-column {
            width: 1em;
        }

        #problem-table.dragdrop-mode .order-column-label {
            display: none;
        }

        span.order {
            padding-right: 0.5em;
        }

        tbody td {
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block body %}

{% macro form_as_row(form) -%}
    {% if form.non_field_errors() %}
    <tr>
        <td colspan="5">{{ form.non_field_errors() }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>{{ form.id }} {{ form.problem.errors }}
            {% if contest_org %}
            <select name="{{ form.problem.html_name }}" id="{{ form.problem.auto_id }}" style="width:100%"
                    data-problem-src="{{ 'public' if form.instance.problem_id and not form.instance.problem.is_organization_private else 'org' }}">
                {% if form.instance.problem_id %}
                <option value="{{ form.instance.problem_id }}" selected>
                    [{{ form.instance.problem.code }}] {{ form.instance.problem.name }}
                </option>
                {% endif %}
            </select>
            {% else %}
            {{ form.problem }}
            {% endif %}
        </td>
        <td class="points-column">{{ form.points.errors }}{{ form.points }}</td>
        <td class="order-column">{{ form.order.errors }}{{ form.order }}</td>
        <td>{{ form.max_submissions.errors }}{{ form.max_submissions }}</td>
        <td>
        {% if contest_problem_formset.can_delete and form.instance.pk %}
            {{ form.DELETE }}
        {% endif %}
        </td>
    <tr>
{%- endmacro %}

<div>
    {% block edit_contest %}
        {% if request.user.is_staff %}
            <div class="alert alert-warning alert-dismissable">
                <a class="close">x</a>
                <a href="{{ url('admin:judge_contest_change', contest.id) }}">{{ _('Edit contest in admin panel for more options') }}</a>
            </div>
        {% endif %}
    {% endblock %}
    <form action="" method="post" class="form-area" style="display: flex; justify-content: center; flex-direction: column;">
        {% csrf_token %}
        {{ contest_problem_formset.management_form }}
        {% if contest_problem_formset.non_form_errors() %}
            {{ contest_problem_formset.non_form_errors() }}
        {% endif %}
        <table class="django-as-table">{{ form.as_table() }}</table>
        <hr>
        <center>
            <h3> {{ _('Problems') }} </h3>
            <button type="button" id="order-mode-toggle" class="button">{{ _('Switch to drag and drop mode') }}</button>
        </center>
        <table class="table" id="problem-table">
            <thead>
                <tr>
                    <th class="problem-column" style="width: 20em;"> {{ _('Problems') }} </th>
                    <th class="points-column"> {{ _('Points') }} </th>
                    <th class="order-column"><span class="order-column-label"> {{ _('Order in contest') }} </span></th>
                    <th>
                        {{ _('Max submission') }}
                        <br>
                        <span class="helptext">
                            {{ _('Maximum number of submissions') }}
                            <br>
                            {{_('or leave blank for no limit.') }}
                        </span>
                    </th>
                    <th> {{ _('Delete') }} </th>
                </tr>
            </thead>
            <tbody id="form_set">
                {% for form in contest_problem_formset %}
                    {{ form_as_row(form) }}
                {% endfor %}
            </tbody>
        </table>
        <div style="display: flex; justify-content: flex-end;"><button class="submit-bar" type="submit">
            {% if request.resolver_match.url_name == 'contest_edit' %}
                {{ _('Update') }}
            {% else %}
                {{ _('Create') }}
            {% endif %}
        </button></div>
    </form>
</div>
{% endblock %}
