<script type="text/javascript">
    $(function () {
        $('.leaving-forever').click(function () {
            return confirm('{{ _('Are you sure you want to leave?') }}\n' +
                '{{ _('You cannot come back to a virtual participation. You will have to start a new one.') }}');
        });

        {% if not request.official_contest_mode %}
            $('.first-join').click(function () {
                return confirm('{{ _('Are you sure you want to join?') }}\n' +
                    '{{ _('Joining a contest starts your timer, after which it becomes unstoppable.') }}');
            });
        {% endif %}

        {% if request.in_contest %}
            $('.contest-join').click(function () {
                return confirm('{{ _('Are you sure you want to join?') }}\n' +
                    '{{ _('Joining this contest will leave %(contest)s.', contest=request.participation.contest.name) }}');
            });
        {% endif %}

        $('.register-warning').click(function () {
            return confirm('{{ _('Are you sure you want to register?') }}');
        });
    });
</script>
