<style>
    .full-score, .full-score a {
        color: black;
        background-color: #60e760;
    }

    .failed-score, .failed-score a {
        color: black;
        background-color: #e87272;
    }

    .user-points, .user-points a {
        color: black;
    }

    .pending, .pending a {
        background-color: #6666ff;
    }

    .solving-time {
        display: none;
    }

    .solving-time-minute {
        color: black;
        font-size: 1.25em;
        padding-bottom: -0.75em;
    }
</style>
