<style>
    .first-solve {
        background-color: #1daa1d !important;
    }

    .full-score {
        color: black;
        background-color: #60e760;
    }

    .failed-score {
        color: black;
        background-color: #e87272;
    }

    .pending {
        background-color: #6666ff;
    }

    .failed-score a, .full-score a, .pending a {
        color: black;
    }

    .solving-time {
        display: none;
    }

    .solving-time-minute {
        color: black;
        font-size: 1.25em;
        padding-bottom: -0.75em;
    }
</style>
