<style>
    .first-solve {
        background-color: #b7f993 !important;
    }

    .full-score, .full-score a {
        font-weight: bold;
        color: green;
    }

    .partial-score, .partial-score a {
        color: green;
    }

    .failed-score, .failed-score a {
        color: red;
    }

    .pretest-full-score, .pretest-full-score a {
        font-weight: bold;
        color: #2980b9;
    }

    .pretest-partial-score, .pretest-partial-score a {
        color: #2980b9;
    }

    .pretest-failed-score, .pretest-failed-score a {
        color: red;
    }

    .user-points, .user-points a {
        font-weight: bold;
    }

    .pending {
        background-color: #b0e8f4;
    }

    .solving-time {
        color: gray;
        font-weight: normal;
        font-size: 0.75em;
        padding-bottom: -0.75em;
    }
</style>
