<table {% if table_id %}id="{{ table_id }}"{% endif %} class="users-table table striped">
    <thead>
    <tr>
        <th class="header rank">{{ rank_header or _("Rank") }}</th>
        <th class="header">{{ _('Username') }}</th>
        <th class="header">{{ _('Full Name') }}</th>
        {% for problem in problems %}
            <th class="points header">
                {{ problem }}
            </th>
        {% endfor %}
        <th class="header points">{{ _('Points') }}</th>
    </tr>
    </thead>

    <tbody>
    {% for rank, user in users %}
        <tr id="user-{{ user.username }}">
            <td>{{ rank }}</td>
            <td class="user-name">
                <div style="float:left">
                    <span class="wrap-name">{{ user.username }}</span>
                </div>
            </td>
            <td class="user-name">
                <div style="float:left">
                    <span class="wrap-name" > {{ user.full_name }} </span>
                </div>
            </td>
            {% for cell in user.problem_cells %}
                {{ cell }}
            {% endfor %}
            {{ user.result_cell }}
        </tr>
    {% endfor %}
    </tbody>
</table>
