{% extends "user/base-users.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% include "contest/contest-tabs.html" %}
{% endblock %}

{% block users_media %}
    {% if is_ICPC_format %}
        {% include "contest/media-icpc-css.html" %}
    {% else %}
        {% include "contest/media-css.html" %}
    {% endif %}

    <style>
        .select2-selection__arrow {
            display: none;
        }

        .select2-selection__rendered {
            cursor: text;
            overflow: initial !important
        }

        .select2-results__option {
            white-space: nowrap;
        }

        #search-contest, #search-contest + .select2 {
            margin-top: 0.5em;
        }

        #search-contest {
            width: 200px;
            height: 2.3em;
        }

        .filter-checklist-button {
            float: right;
        }
    </style>
{% endblock %}

{% block users_js_media %}
    {% if not contest.ended %}
        <script type="text/javascript">
            $(function () {
                window.install_tooltips = function () {
                    $('td.user-name').find('> span:first-child').each(function () {
                        var link = $(this);
                        link.mouseenter(function (e) {
                            var start_time = link.siblings('.start-time').text().trim();
                            link.addClass('tooltipped tooltipped-e').attr('aria-label', start_time);
                        }).mouseleave(function (e) {
                            link.removeClass('tooltipped tooltipped-e').removeAttr('aria-label');
                        });
                    });
                };

                install_tooltips();

                // Auto reload every 10 seconds
                var ranking_outdated = false;
                function update_ranking() {
                    if ($('body').hasClass('window-hidden')) {
                        return ranking_outdated = true;
                    }
                    var queryParam = window.location.search
                    $.ajax({
                        url: queryParam ? queryParam + '&raw' : '?raw',
                    }).done(function (data) {
                        $('#ranking-table').html(data);
                        if (localStorage.getItem('show-personal-info') == 'true') {
                            $('.personal-info').show();
                            $('#show-personal-info-checkbox').prop('checked', true);
                        }
                        {% if tab == 'ranking' %}
                            window.applyRankingFilter();
                        {% endif %}
                        window.enableAdminOperations();
                    }).always(function () {
                        ranking_outdated = false;
                        setTimeout(update_ranking, 10000);
                    });
                }
                $(window).on('dmoj:window-visible', function () {
                    if (ranking_outdated) {
                        update_ranking();
                    }
                });
                setTimeout(update_ranking, 10000);
            });
        </script>
    {% endif %}
    <script type="text/javascript">
        $(function () {
            var url = '{{ url('contest_participation', contest.key, '__username__') }}';
            var placeholder = $('#search-contest').replaceWith($('<select>').attr({
                id: 'search-contest'
            })).attr('placeholder');

            $('#search-contest').select2({
                theme: '{{ DMOJ_SELECT2_THEME }}',
                placeholder: placeholder,
                ajax: {
                    url: '{{ url('contest_user_search_select2_ajax', contest.key) }}',
                    delay: 300
                },
                minimumInputLength: 1,
                templateResult: function (data) {
                    return $('<span>')
                        .append($('<img>', {
                            class: 'user-search-image',
                            src: data.gravatar_url,
                            width: 24,
                            height: 24,
                        }))
                        .append($('<span>', {
                            class: data.display_rank + ' user-search-name',
                        }).text(data.text));
                }
            }).on('change', function () {
                window.location.href = url.replace('__username__', $(this).val());
            });

            $('#show-personal-info-checkbox').click(function () {
                $('.personal-info').toggle();
                localStorage.setItem('show-personal-info', $('.personal-info').is(':visible') ? 'true' : 'false');
            });

            if (localStorage.getItem('show-personal-info') == 'true') {
                $('.personal-info').show();
                $('#show-personal-info-checkbox').prop('checked', true);
            }

            {% if show_virtual %}
                $('#show-virtual-participations-checkbox').prop('checked', true);
            {% endif %}

            $('#show-virtual-participations-checkbox').click(function () {
                const parser = new URL(window.location.href);
                parser.searchParams.set('show_virtual', '{{ 'false' if show_virtual else 'true' }}');
                window.location.href = parser.href;
            });

            var contest_key = '{{contest.key}}';

            $("a#cache_alert").click(function () {
                var $closer = $(this);
                $closer.parent().hide();
                localStorage.setItem(`hide-cache-alert-${contest_key}`, 'true');
            });

            if (localStorage.getItem(`hide-cache-alert-${contest_key}`) == 'true') {
                $("a#cache_alert").click();
            }

            $("a#frozen_alert").click(function () {
                var $closer = $(this);
                $closer.parent().hide();
                localStorage.setItem(`hide-frozen-alert-${contest_key}`, 'true');
            });

            if (localStorage.getItem(`hide-frozen-alert-${contest_key}`) == 'true') {
                $("a#frozen_alert").click();
            }

            // hack to keep scroll position after selecting option
            // https://stackoverflow.com/questions/55045146/select2-do-not-scroll-on-selection
            // scrollAfterSelect is only available after v4.0.6
            $(function() {
                $('#org-check-list').select2({
                    theme: '{{ DMOJ_SELECT2_THEME }}',
                    multiple: true,
                    closeOnSelect: false,
                    placeholder: {{ _('Search organizations')|htmltojs }},
                });

                var selection = $('#org-check-list').data().select2.selection;
                var results = $('#org-check-list').data().select2.results;

                $('#org-check-list').on('select2:selecting', function(e) {
                    let id = e.params.args.data.id;
                    let val = $(e.target).val().concat([id]);
                    $(e.target).val(val).trigger('change');

                    if (selection.$search.val() != '') {
                        selection.$search.val('');
                        selection.trigger('query', {});
                    } else {
                        results.setClasses();
                    }

                    return false;
                });

                $('#org-check-list').on('select2:unselecting', function(e) {
                    let id = e.params.args.data.id;
                    let val = $(e.target).val().filter(function(v) { return v != id; });
                    $(e.target).val(val).trigger('change');

                    if (selection.$search.val() != '') {
                        selection.$search.val('');
                        selection.trigger('query', {});
                    } else {
                        results.setClasses();
                    }

                    return false;
                });

                $('#org-check-list').data().select2.toggleDropdown = function () {
                    selection.$search.trigger('focus');

                    if (!this.isOpen()) {
                        this.open();
                    }
                }

                $('#filter-by-organization-button').click(function () {
                    $('#org-check-list-wrapper').toggle();
                    $('#org-check-list').select2('open');
                });
            });

            if (localStorage.getItem(`filter-cleared-${contest_key}`) === null) {
                localStorage.setItem(`filter-cleared-${contest_key}`, 'true');
            }

            if (localStorage.getItem(`filter-selected-orgs-${contest_key}`) === null) {
                localStorage.setItem(`filter-selected-orgs-${contest_key}`, []);
            }

            $('#apply-organization-filter').click(function () {
                $('#org-check-list-wrapper').hide();

                let selected_orgs = $('#org-check-list').val().map(x => x.trim());
                localStorage.setItem(`filter-selected-orgs-${contest_key}`, selected_orgs);
                window.applyRankingFilter();
            });

            $('#clear-organization-filter').click(function () {
                $('#org-check-list').val(null).trigger('change');
                $('#apply-organization-filter').click();
            });

            // hide checklist by clicking outside
            $(document).mouseup(function (e) {
                e.stopPropagation();

                // if clicked on the filter button
                // then this function should not do anything
                if ($('#filter-by-organization-button').has(e.target).length !== 0) {
                    return;
                }

                if ($('#select2-org-check-list-results').has(e.target).length !== 0) {
                    return;
                }

                if ($(e.target).attr('id') && $(e.target).attr('id').startsWith('select2-org-check-list-result')) {
                    return;
                }

                // check if the clicked area is the checklist or not
                if ($('#org-dropdown-check-list').has(e.target).length === 0) {
                    $('#apply-organization-filter').click();
                }
            });

            window.getOrganizationCodes = function () {
                let org_list = []

                $('#ranking-table > tbody > *').each(function () {
                    let org_anchor = $(this).find("div > div > .personal-info > .organization > a")[0];

                    if (org_anchor) {
                        org_list.push(org_anchor.text);
                    }
                });

                org_list.sort();
                org_list.push("Other");

                org_list = new Set(org_list);

                let org_options = $('#org-check-list');
                org_options.empty();

                org_list.forEach(function (org) {
                    org_options.append(
                        `<option value="${org}">${org}</option>`
                    );
                });
            };

            window.getOrganizationCodes();

            function extractCurrentAbsRank(row_text) {
                let paren_surround_text = row_text.match(/\(([^)]+)\)/);
                let current_abs_rank
                    = (paren_surround_text !== null)
                    ? paren_surround_text[1]
                    : row_text;
                return current_abs_rank;
            }

            window.clearRankingFilter = function () {
                if (localStorage.getItem(`filter-cleared-${contest_key}`) == 'true') {
                    return;
                }

                $('#ranking-table > tbody > tr[id]').each(function () {
                    $(this).show();
                    $(this).find("td")[0].innerHTML = extractCurrentAbsRank($(this).find("td")[0].innerText);
                });

                localStorage.setItem(`filter-cleared-${contest_key}`, 'true');
            };

            window.applyRankingFilter = function () {
                let counter = 0;
                let previous_abs_rank = -1;
                let selected_orgs = localStorage.getItem(`filter-selected-orgs-${contest_key}`);

                if (!selected_orgs.length) {
                    window.clearRankingFilter();
                    return;
                }

                $('#ranking-table > tbody > tr[id]').each(function () {
                    let row = $(this);

                    let org_anchor = row.find("div > div > .personal-info > .organization > a")[0];
                    let org = org_anchor ? org_anchor.text : 'Other';

                    if (!selected_orgs.includes(org.trim())) {
                        row.hide();
                        return;
                    }

                    row.show();
                    let current_abs_rank = extractCurrentAbsRank(row.find("td")[0].innerText);

                    if (previous_abs_rank == -1 || previous_abs_rank != current_abs_rank) {
                        ++counter;
                    }

                    row.find("td")[0].innerHTML = `${counter}<br>(${current_abs_rank})`;
                    previous_abs_rank = current_abs_rank;
                });

                if (counter > 0) {
                    localStorage.setItem(`filter-cleared-${contest_key}`, 'false');
                }
            };

            window.applyRankingFilter();

            window.restoreChecklistOptions = function () {
                let selected_orgs = localStorage.getItem(`filter-selected-orgs-${contest_key}`).split(',');
                $('#org-check-list').val(selected_orgs).trigger('change');
            };

            window.restoreChecklistOptions();

            window.enableAdminOperations = function () {
                $('a.disqualify-participation').click(function (e) {
                    e.preventDefault();
                    if (e.ctrlKey || e.metaKey || confirm({{ _('Are you sure you want to disqualify this participation?')|htmltojs }}))
                        $(this).closest('form').submit();
                })
                $('a.un-disqualify-participation').click(function (e) {
                    e.preventDefault();
                    if (e.ctrlKey || e.metaKey || confirm({{ _('Are you sure you want to un-disqualify this participation?')|htmltojs }}))
                        $(this).closest('form').submit();
                })
            };

            window.enableAdminOperations();
        });

        {% if tab == 'ranking' %}
            $.fn.ignore = function(sel) {
                return this.clone().find(sel || '>*').remove().end();
            };

            function download_table_as_csv() {
                function clean_text(text) {
                    // Remove new line and leading/trailing spaces
                    text = text.replace(/(\r\n|\n|\r)/gm, '').trim();
                    // Escape double-quote with double-double-quote
                    text = text.replace(/"/g, '""');

                    return '"' + text + '"';
                }

                var csv = [];

                $('#ranking-table thead tr').each(function () {
                    var header = [];
                    $(this).find('th').each(function () {
                        var $col = $(this);

                        if ($col.hasClass('rating-column')) {
                            // Skip rating
                            return;
                        } else if ($col.hasClass('rank')) {
                            // Rank
                            header.push(clean_text($col.text()));
                        } else if ($col.hasClass('username')) {
                            // Username and Full name
                            header.push(clean_text({{ _('Username')|htmltojs }}));
                            header.push(clean_text({{ _('Full Name')|htmltojs }}));
                        } else {
                            // Point
                            var name = $col.find('.problem-code').text();
                            if (name == '') {
                                name = $col.text();
                            }
                            header.push(clean_text(name));
                        }
                    });
                    csv.push(header.join(','));
                });

                $('#ranking-table tbody tr').each(function () {
                    // Skip hidden row (due to filtering)
                    if ($(this).is(':hidden')) {
                        return;
                    }

                    var row_data = [];
                    $(this).find('td').each(function () {
                        var $col = $(this);

                        if ($col.hasClass('rating-column')) {
                            // Skip rating
                            return;
                        } else if ($col.hasClass('user-name')) {
                            // Username and Full name
                            row_data.push(clean_text($col.find('.rating').first().text()));
                            row_data.push(clean_text($col.find('.personal-info').first().text()));
                        } else {
                            // Point or rank
                            row_data.push(clean_text($col.ignore('.solving-time').text()));
                        }
                    });
                    csv.push(row_data.join(','));
                });

                var csv_string = csv.join('\n');
                var filename = 'ranking_{{ contest.key }}_' + moment().format('YYYY-MM-DD-HH-mm-ss') + '.csv';
                var link = document.createElement('a');
                link.style.display = 'none';
                link.setAttribute('target', '_blank');
                link.setAttribute('href', 'data:text/csv;charset=utf-8,\uFEFF' + encodeURIComponent(csv_string));
                link.setAttribute('download', filename);
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        {% endif %}
    </script>
    {% include "contest/media-js.html" %}
{% endblock %}

{% block before_users_table %}
    <div style="margin-bottom: 1.25em">
        {% if tab == 'participation' %}
            {% if contest.can_see_full_scoreboard(request.user) %}
                <input id="search-contest" type="text" placeholder="{{ _('View user participation') }}">
            {% endif %}
        {% endif %}
        {% if tab == 'ranking' %}
            <div id="org-dropdown-check-list">
                <button id="filter-by-organization-button" class="inline-button">
                    <i class="tab-icon fa fa-filter"></i>
                    <b>{{ _('Filter') }}</b>
                </button>

                <div id="org-check-list-wrapper">
                    <div>
                        <button id="apply-organization-filter" class="inline-button filter-checklist-button">{{ _('Apply') }}</button>
                        <button id="clear-organization-filter" class="inline-button filter-checklist-button">{{ _('Clear') }}</button>
                    </div>
                    <select id="org-check-list" name="orgs[]" multiple="multiple"></select>
                </div>
            </div>
        {% endif %}
        {% if tab != 'official_ranking' %}
            <input id="show-personal-info-checkbox" type="checkbox" style="vertical-align: bottom">
            <label for="show-personal-info-checkbox" style="vertical-align: bottom">{{ _('Show full name/organization') }}</label>
        {% endif %}
        {% if tab == 'ranking' %}
            <input id="show-virtual-participations-checkbox" type="checkbox" style="vertical-align: bottom">
            <label for="show-virtual-participations-checkbox" style="vertical-align: bottom">{{ _('Show virtual participations') }}</label>
            {% if not is_ICPC_format %}
            <a href="#" onclick="download_table_as_csv()" style="float: right;">{{ _('Download as CSV') }}</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block users_table %}
    {{ rendered_ranking_table }}
{% endblock %}

{% block body %}
    {% if is_frozen %}
    <div class="alert-warning">
        <p style="padding: 10px; text-align: center">
        <a class="close" id="frozen_alert">x</a>
        {%- trans frozen_minutes=contest.frozen_last_minutes -%}
            The scoreboard was frozen with {{frozen_minutes}} minutes remaining - submissions in the last {{frozen_minutes}} minutes of the contest are still shown as pending.
        {%- endtrans -%}
    </p></div>
    {% endif %}
    {% if not contest.ended and cache_timeout %}
        <div class="alert-warning alert-dismissable">
            <p style="padding: 10px; text-align: center">
            <a class="close" id="cache_alert">x</a>
            {%- trans -%}
                The scoreboard is cached for {{cache_timeout}} seconds, your submission might take some time before it appears here.
            {%- endtrans -%}
            </p>
        </div>
    {% endif %}
    {{ super() }}
    {% if is_ICPC_format %}
    <table id="cell_legend" class="table" style="width: 10em; margin-left: 0">
        <thead>
            <tr>
                <th scope="col">{{_('Cell colours')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="first-solve">
                <td>{{_('Solved first')}}</td>
            </tr>
            <tr class="full-score">
                <td>{{_('Solved')}}</td>
            </tr>
            <tr class="failed-score">
                <td>{{_('Tried, incorrect')}}</td>
            </tr>
            <tr class="pending">
                <td>{{_('Tried, pending')}}</td>
            </tr>
            <tr>
                <td>{{_('Untried')}}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
{% endblock %}
