{% extends "common-content.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'stats' %}
    {% include "contest/contest-tabs.html" %}
{% endblock %}

{% block content_js_media %}
    <script type="text/javascript">
        window.stats = {{ stats }};
    </script>
    {% compress js %}
        {% include "stats/media-js.html" %}
        <script type="text/javascript">
            $(function () {
                draw_stacked_bar_chart(window.stats.problem_status_count, $('#problem-status-count'));
                draw_bar_chart(window.stats.problem_ac_rate, $('#problem-ac-rate'));
                draw_pie_chart(window.stats.language_count, $('#language-count'));
                draw_bar_chart(window.stats.language_ac_rate, $('#language-ac-rate'));
            });

            function download_table_as_csv() {
                var csv = ['#id,username']
                window.stats.participations.sort()
                for (var i = 0; i < window.stats.participations.length; i++) {
                    csv.push(
                        (i + 1) + ',' +
                        window.stats.participations[i]
                    );
                }

                var csv_string = csv.join('\n');
                var filename = 'users_{{ contest.key }}_' + moment().format('YYYY-MM-DD-HH-mm-ss') + '.csv';
                var link = document.createElement('a');
                link.style.display = 'none';
                link.setAttribute('target', '_blank');
                link.setAttribute('href', 'data:text/csv;charset=utf-8,\uFEFF' + encodeURIComponent(csv_string));
                link.setAttribute('download', filename);
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        </script>
    {% endcompress %}
    {% include "contest/media-js.html" %}
{% endblock %}

{% block content_media %}
    <style>
        .chart {
            margin: 10px 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div>
        <h3>
            {{ _('Participation count: ') }} <a href="#" onclick="download_table_as_csv()">{{ participation_count }}</a>
        </h3>
    </div>

    <h3>{{ _('Problem Status Distribution') }}</h3>
    <div id="problem-status-count" class="chart">
        <canvas></canvas>
    </div>

    <h3>{{ _('Problem AC Rate') }}</h3>
    <div id="problem-ac-rate" class="chart">
        <canvas></canvas>
    </div>

    <h3>{{ _('Submissions by Language') }}</h3>
    <div id="language-count" class="chart">
        <canvas width="400" height="300"></canvas>
        <ul class="legend"></ul>
    </div>

    <h3>{{ _('Language AC Rate') }}</h3>
    <div id="language-ac-rate" class="chart">
        <canvas></canvas>
    </div>
{% endblock %}
