@charset "UTF-8";

@import "vars";

@-ms-viewport {
    min-width: 480px;
    max-width: device-width;
}

@-o-viewport {
    min-width: 480px;
    max-width: device-width;
}

@viewport {
    min-width: 480px;
    max-width: device-width;
}

a {
    color: $color_link75;

    &:hover {
        color: $color_link100;
    }

    &:active {
        color: $color_link200;
    }
}

img {
    max-width: 100%;
    // width: auto;
    // height: auto;
}

.full {
    width: 100%;
}

table.sortable thead {
    background-color: $color_primary10;
    color: #666;
    font-weight: bold;
    cursor: default;
}

th {
    &.tablesorter-headerAsc:after {
        content: " ▴";
    }

    &.tablesorter-headerDesc:after {
        content: " ▾";
    }
}

div {
    &.tablesorter-header-inner {
        display: inline;
    }
}

pre {
    white-space: pre-wrap;
}

hr {
    display: block;
    height: 0;
    border: 0;
    font-style: italic;
    border-bottom: 1px solid $color_primary25;
    padding: 0;
}

.dashed {
    border-bottom: 1px dashed $color_primary25;
}

th {
    vertical-align: middle;
}

.form-area {
    display: inline-block;
    background: $color_primary5;
    padding: 5px 10px 10px;
    border-radius: $widget_border_radius;
    border: 1px solid $color_primary25;
}

div.info-float {
    float: right;
    padding: 10px;
}

footer {
    color: $color_primary50;
    display: block;
    // width: 100%;
    position: relative;
    bottom: 0;
}

.bootstrap-styles {
    @import 'bootstrap/scss/bootstrap';
}

.footer-top {
    $grid-gutter-width: 16px;

    padding: 40px 0;
	/* box-shadow: inset 0 4px 0 0 #008675;
	background-color: #008675; */
	box-shadow: inset 0 4px 0 0 rgb(238,0,51);
    background-color: rgb(238,0,51);

    h5 {
        margin-bottom: 16px;
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }

    .text-div-row-1 {
        padding-left: 18%;
        display: flex;
        flex-direction: column;
        margin-top: 2%;
    }
    .footer-title {
        font-family: "Tahoma";
        font-style: normal;
        font-weight: 400;
        font-size: 12px; /* or 200% */
        letter-spacing: 0.01em;
        color: #000000;
        margin-bottom: 5px;
    }
    .text-copyright {
        font-family: "FS PF BeauSans Pro";
        font-weight: 400;
        font-size: 12px;
        color: #A9A9A9;
        padding-top: 6%;
        margin-bottom: 8%;
        width: 150%;
        padding-left: 1%;
    }
    #component-div-2 {
        align-items: center;
        justify-content: center;
    }
    #footer-link-option-page {
        display: flex;
        flex-direction: column;
    }
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    .footer-links {
        margin-bottom: 0;
        li {
            padding-bottom: 8px;
        }
        a {
            color: #828282;
            font-size: 20px;
            margin-left: 10px;
        }
    }

    .footer-image-notification {
        width: 127px;
        height: 48px;
        max-width: none;
    }

    .link-option {
        display: flex;
    }
    
    @media screen and (max-width: 1015px) and (min-width: 768px){
        .ab-format-style-custom-1{
            padding-left: 0px !important;
            margin-left: -4px !important;
        }
    }
    @media screen and (max-width: 1900px) and (min-width: 1016px){
        .ab-format-style-custom-1{
            padding-left: 0px !important;
            margin-left: 0px !important;
        }
    }
    #all-footer {
        display: flex !important;
        flex-direction: row !important;
    }

    #footer-contact-email {
        font-family: "FS PF BeauSans Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-decoration-line: underline;
        color: #000000;
    }
    #footer-address-viettel {
        font-family: "FS PF BeauSans Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #4C4C4C;
        margin-top: 15px;
        width: 68%;
    }
    #footer-link-option-page {
        display: flex;
        flex-direction: column;
    }
    #footer-text-follow-us {
        font-family: "FS PF BeauSans Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* todo format */
        display: flex;
        flex-direction: column;
    }
    @media screen and (max-width: 1900px) and (min-width: 1501px){
        .text-div-row-1 {
            padding: 0px 0px 0px 17.7%;
        }
        .cooperate h1 {
            font-size: 32px;
        }
        .img-cooperation {
            margin: 0 1rem;
        }
        .footer-digital-benefit-description {
            font-size: 18px;
        }
    }
    @media screen and (max-width: 1500px) {
        .cooperate h1 {
            font-size: 32px;
        }
        .img-cooperation {
            margin: 0 1rem;
        }
        .footer-digital-benefit-description {
            font-size: 18px;
        }
        .footer_h1_style {
            font-size: 46px;
        }
        #component-div-2 {
            padding-top: 2%;
        }
    
        .text-div-row-1 {
            padding: 0px 0px 0px 18%;
        }
    }
    @media screen and (max-width: 1260px) {
    
        .follow-us-text {
            font-size: 13px !important;
        }
    
        .footer-links a {
            font-size: 17px;
            margin-left: 8px;
        }
    
        .text-div-row-1 {
            padding: 0px 0px 0px 18% !important;
        }
    
        #footer-text-follow-us {
            width: 220%;
        }
    
        .text-copyright {
            width: 220%;
        }
    }
    @media screen and (max-width: 1015px) {
    
        /*TEXT: ...*/
        .footer_h1_style {
            font-size: 60px !important;
            line-height: 80px !important;
        }
    
        /*TEXT: ...*/
        .footer-benefit-description {
            line-height: 29px !important;
            font-size: 22px !important;
        }
    
        /*BUTTON: APPLY NOW*/
        .footer_apply_now {
            width: 285px !important;
            height: 66px !important;
            margin-top: 74px;
        }
    
        .button_footer_apply_now {
            font-size: 18px !important;
        }
        /*TEXT-CPOYRIGHT*/
        .text-copyright {
            font-size: 12px;
            padding-bottom: 3%;
        }
    
        /*Component 2.1*/
        .text-copyright {
            padding-left: 2% !important;
            width: 200%;
        }
    
        #all-footer {
            display: flex !important;
            flex-direction: column !important;
        }
    
        #footer-text-follow-us {
            margin-left: 140%;
        }
    
        #component-div-2-2 {
            padding-left: 10%;
        }
    
        #ve-chung-toi {
            width: 150%;
        }
    
        #tuyen-dung {
            width: 150%;
        }
    
        #dai-ngo {
            width: 150%;
        }
    }
    @media screen and (max-width: 767px) {
        .footer-revert-element{
            flex-direction: column-reverse !important;
        }
    
        .info-content {
            padding-bottom: 23px;
        }
    
        #footer-link-option-page {
            margin-left: 3.5%;
            margin-bottom: 20px;
        }
    
        #component-div-2-2 {
            padding-left: 0%;
        }
    
        #footer-text-follow-us {
            width: 100%;
            margin-left: 0px;
        }
    
        #ve-chung-toi {
            width: 100%;
        }
    
        #tuyen-dung {
            width: 100%;
        }
    
        #dai-ngo {
            width: 100%;
        }
    
        #tap-doan-vien-thong-quan-doi-viettel {
            font-size: 14px;
        }
    
        #aboutUs {
            margin-top: 2%;
            margin-left: 2%;
        }
    
        .info-content {
            margin-left: 2%;
        }
    
        .text-copyright {
            padding-left: 3.5% !important;
            width: 100%;
            font-size: 11.5px;
            padding-top: 0%;
            margin-bottom: 2%;
        }
    
        .footer_apply_now {
            width: 257px !important;
            height: 56px !important;
            margin-top: 105px;
        }
    
        .footer-image-notification {
            margin-top: -5px;
            margin-left: 17px;
            margin-bottom: 28px;
        }
    
        .footer-benefit-description {
            line-height: 27px !important;
            font-size: 19px !important;
        }
    
        .text-div-row-1 {
            padding: 00px 0px 0px 6.5% !important
        }
    
        .footer_h1_style {
            font-size: 50px !important;
            line-height: 59px !important;
            flex-direction: column !important;
        }
    
        .text-copyright {
            width: 100%;
        }
    
        #footer-address-viettel {
            width: 96% !important;
        }
        .footer-links a {
            font-size: 27px;
        }
    }
    @media screen and (max-width: 413px) {
        /*TEXT: ...*/
        .footer_h1_style {
            font-size: 40px !important;
            line-height: 49px !important;
            flex-direction: column;
        }
    
        /*TEXT: ...*/
        .footer-benefit-description {
            width: 77% !important;
            line-height: 25px !important;
            font-size: 16px !important;
        }
    
        /*BUTTON: APPLY NOW*/
        .footer_apply_now {
            width: 175px !important;
            height: 39px !important;
            margin-top: 19%;
        }
    
        .button_footer_apply_now {
            font-size: 12.4752px !important;
            line-height: 17px !important;
        }
        #tap-doan-vien-thong-quan-doi-viettel {
            font-size: 12.5px !important;
        }
        .text-div-row-1 {
            padding: 0px 0px 0px 7.5% !important;
        }
    
        /*TEXT COPYRIGHT*/
        .text-copyright {
            padding-top: 0px !important;
            font-size: 9px !important;
            width: 100% !important;
            margin-left: 6px;
        }
    
        /*ADDRESS*/
        .info-content {
            margin-left: 10px !important;
        }
    
        #footer-address-viettel {
            width: 83% !important;
        }
    
        /*3 OPTION*/
        #footer-text-follow-us {
            margin-left: -3% !important;
        }
    
        .footer-links li {
            width: 68% !important;
        }
    
        #footer-link-option-page {
            padding-top: 1% !important;
            margin-left: 3% !important;
        }
    
        .footer-title {
            font-weight: 550 !important;
            margin-top: 2% !important;
            font-weight: 600 !important;
        }
    
        /*FACEBOOK INSGRAM YOUTUBE*/
        #aboutUs {
            padding: 10px 10px 10px 10px !important;
            margin: 3% 0px 0px 4% !important
        }
    
        .link-option {
            font-size: 50px !important;
            text-decoration: none !important;
        }
    
        /*CHUNG NHAN*/
        #footer-image-notification {
            margin-left: 5%;
            padding-bottom: 10%;
        }
    
        .footer-image-notification {
            margin-top:  -5px;
            margin-left: -1px;
        }
    
        .footer-revert-element{
            flex-direction: column-reverse !important;
        }
    
    }
    @media screen and (max-width: 335px) {
        /*TEXT: CUNG VIETTEL KIEN TAO TUONG LAI*/
        .footer_h1_style {
            font-size: 40px !important;
            line-height: 49px !important;
            flex-direction: column;
        }
    
        /*TEXT: ...*/
        .footer-benefit-description {
            width: 77% !important;
            line-height: 25px !important;
            font-size: 16px !important;
        }
    
        /*BUTTON: APPLY NOW*/
        .footer_apply_now {
            width: 175px !important;
            height: 39px !important;
            margin-top: 19%;
        }
    
        .button_footer_apply_now {
            font-size: 12.4752px !important;
            line-height: 17px !important;
        }
        #tap-doan-vien-thong-quan-doi-viettel {
            font-size: 11px !important;
        }
        .text-div-row-1 {
            padding: 0px 0px 0px 7.5% !important;
        }
    
        /*TEXT COPYRIGHT*/
        .text-copyright {
            padding-top: 0px !important;
            font-size: 8px !important;
            width: 100% !important;
            margin-left: 3px;
        }
    
        /*ADDRESS*/
        .info-content {
            margin-left: 10px !important;
        }
    
        #footer-address-viettel {
            width: 83% !important;
        }
    
        /*3 OPTION*/
        #footer-text-follow-us {
            margin-left: -3% !important;
        }
    
        .footer-links li {
            width: 68% !important;
        }
    
        #footer-link-option-page {
            padding-top: 1% !important;
            margin-left: 3% !important;
        }
    
        .footer-title {
            font-weight: 550 !important;
            margin-top: 2% !important;
        }
    
        /*FACEBOOK INSGRAM YOUTUBE*/
        #aboutUs {
            padding: 10px 10px 10px 10px !important;
            margin: 3% 0px 0px 4% !important
        }
    
        .link-option {
            font-size: 50px !important;
            text-decoration: none !important;
        }
    
        /*CHUNG NHAN*/
        #footer-image-notification {
            margin-left: 5%;
            padding-bottom: 10%;
        }
    
        .footer-image-notification {
            margin-top:  -5px;
            margin-left: -1px;
        }
    
        .footer-revert-element{
            flex-direction: column-reverse !important;
        }
    
        .info-content {
            margin-left: 3px !important;
        }
    
    }
    
    @media screen and (max-width: 1015px) and (min-width: 768px){
        .ab-format-style-custom-1{
            padding-left: 0px !important;
            margin-left: -4px !important;
        }
    }
    @media screen and (max-width: 1900px) and (min-width: 1016px){
        .ab-format-style-custom-1{
            padding-left: 0px !important;
            margin-left: 0px !important;
        }
    }
}

body {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    font-size: $base_font_size;
    line-height: 1.231;
    background: $color_primary5;
    font-family: "Segoe UI", "Lucida Grande", Arial, sans-serif;
    color: $color_primary100;
    height: 100%;
}

.unselectable {
    cursor: default;
}

h1 {
    font-size: 5em;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
    line-height: 1em;
}

b {
    font-weight: bold;
}

h2 {
    font-weight: 400;
    font-size: 2em;
    border-radius: $widget_border_radius;
    padding: 0;
    margin: 0;
}

h3 {
    font-weight: 400;
    font-size: 1.4em;
    border-radius: $widget_border_radius;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

hr {
    color: rgba(0, 0, 0, 0.2);
}

#content {
    margin: 52px auto auto;

    // Header
    width: 90%;
    height: 100%;
    min-height: 25em;
    display: block;

    .title {
        color: $color_primary75;
    }
}

footer {
    // text-align: center;
    // height: 300px;
    border-top: 4px solid #EE0033;
    background: #ffffff;
}

html {
    position: relative;
    height: 100%;
}

a {
    text-decoration: none;
    display: inline;
}

noscript #noscript {
    font-family: Arial, sans-serif;
    font-size: 111%;
    color: white;
    font-weight: bold;
    background: $announcement_red;
    text-align: center;
    padding: 5px 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
}

#announcement {
    font-family: Arial, sans-serif;
    font-size: 111%;
    color: white;
    font-weight: bold;
    background: $announcement_red;
    text-align: center;
    max-width: 30%;
    position: fixed;
    border-radius: $widget_border_radius;
    z-index: 100;
    bottom: -4px;
    right: -4px;
    padding: 5px 6px 6px 5px;

    a {
        color: orange;
    }
}

.time {
    color: $color_primary75;
}

.toggle {
    font-weight: bold;

    .fa {
        transition: transform 0.4s;
    }

    &.open .fa {
        transform: rotate(90deg);
    }
}

#form-errors, .form-errors {
    background: rgba(255, 0, 0, 0.3);
    border: 3px solid red;
    border-radius: $widget_border_radius;
    padding: 0 1em 0.1em 1em;
    margin: 0.3em 0 0.5em 0;
}

#contest-info {
    font-size: 1.25em;
    border: 5px solid $highlight_blue;
    border-left: 5px dotted white;
    border-radius: 0 $widget_border_radius $widget_border_radius 0;
    background: rgba(0, 0, 0, 0.77);
    z-index: 100000;
    padding: 10px 12px;
    color: white;
    cursor: move;
    position: fixed;
    left: 20px;
    top: 90%;
    display: none;

    a {
        height: 1.4em;
        padding: 0;
        margin: 0;
        color: white;
        display: block;
    }
}

#contest-time-remaining {
    display: inline-block;
}

#page-container {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    // border-right: 1px solid $color_primary25;
    // border-left: 1px solid $color_primary25;
    background: $color_pageBg;
    max-width: 100em;
}

// border-bottom: 1px solid rgb(204, 204, 204)
// border-bottom-left-radius: 4px
// border-bottom-right-radius: 4px

#content-body {
    padding-bottom: 4em;
}

// Offset the footer

.title-line-action {
    float: right;
    margin-top: 1.2em;
}

math {
    font-size: 1.155em;
}

.MathJax {
    &:focus {
        outline: none;
    }
}

@media(max-width: 1498px) {
    #page-container {
        border-left: none;
        border-right: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 760px) {
    #content {
        width: auto;
        padding: 0 5px;
    }
}
