html {
	scroll-behavior: smooth;
	overflow-anchor: none;
	scroll-snap-type: y proximity;
}

html::-webkit-scrollbar {
	display: none;
}

/* This make the page much easier to modify (or kind of) */
footer {
	display: none;
}

body {
	color: white;
	font-family: monospace !important;
}

#content {
	margin-top: 0em;
	padding-top: 0em !important;
}

#content-body {
	padding-bottom: 0em;
}

@keyframes opacity {
	0% {
		opacity: 0;
		transform: translateY(10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

#page-container {
	max-width: 100%;
	background-color: #202124;
	box-sizing: content-box;
}

.hall-section {
	display: block;
	height: 100vh;
	width: 100%;
	scroll-snap-align: center;
}

.hall-content {
	padding: 0em 2em 0em 2em;
	height: 100%;
}

.hero-sub-page {
	position: relative;
	display: flex;
	height: 100%;
	animation: opacity 5s normal;
}

.hero-sub-page__content {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	z-index: 2;
	width: 50%;
}

.hero-sub-page__content h1 {
	font-size: 4em;
}

.hall-button {
	border-radius: 25px;
	height: 3em;
	text-align: center;
	width: 10em;
	background: white;
	color: black !important;
}

.hall-button:hover {
	background: grey;
	transition: 0.25s;
	color: white !important;
	transform: color 2s ease;
}

@keyframes rightarrow {
	0% {
		transform: translateX(30%);
	}
	100% {
		transform: translateX(60%);
	}
}

.arrow {
	animation: rightarrow 0.6s infinite alternate ease-in-out;
}

@keyframes color-animation {
	0% {
		color: var(--color-1);
		transition: color 2s ease;
	}
	25% {
		color: var(--color-2);
		transition: color 2s ease;
	}
	50% {
		color: var(--color-3);
		transition: color 2s ease;
	}
	75% {
		color: var(--color-4);
		transition: color 2s ease;
	}
	100% {
		color: var(--color-5);
		transition: color 2s ease;
	}
}

.title {
	--color-1: #cc2f27;
	--color-2: #b21b26;
	--color-3: #ff9f00;
	--color-4: #23bc72;
	--color-5: #2e75db;
	font-weight: bold;
	text-transform: uppercase;
	animation: color-animation 4s linear infinite alternate;
	opacity: 1;
	transition: 1s ease-in;
}

.intro-img {
	position: relative;
	max-width: 30vh;
	max-height: 30vw;
	object-fit: cover;
	filter: blur(3px);
}

@media only screen and (max-width: 100px) {
	.hero-sub-page__image {
		display: none;
	}
}

.logo-grid-icon {
	max-width: 15em;
	max-height: 15em;
	object-fit: contain;
	transition: 0.25s;
}

.logo-top-left:hover {
	transform: scale(1.3) translate(-1em, -1em);
	transition: 0.25s;
}

.logo-top-right:hover {
	transform: scale(1.3) translate(1em, -1em);
	transition: 0.25s;
}

.logo-bottom-left:hover {
	transform: scale(1.3) translate(-1em, 1em);
	transition: 0.25s;
}

.logo-bottom-right:hover {
	transform: scale(1.3) translate(1em, 1em);
	transition: 0.25s;
}

.type {
	color:#0000;
	background:
	linear-gradient(-90deg,#00DFFC 5px,#0000 0) 10px 0,
	linear-gradient(#00DFFC 0 0) 0 0;
	background-size:calc(var(--n)*1ch) 200%;
	-webkit-background-clip:padding-box,text;
	background-clip:padding-box,text;
	background-repeat:no-repeat;
	animation:
	b .7s infinite steps(1),
	t calc(var(--n)*.03s) steps(var(--n)) forwards;
}

@keyframes t{
	from {background-size:0 200%}
}

@keyframes b{
	50% {background-position:0 -100%,0 0}
}

.card-holder {
	display: flex;
	flex-direction: row;
	justify-content:space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #202124;
	box-sizing: content-box;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.card {
	width: 14em;
	height: 21em;
	background: #fff;
	border-radius: 0.6em;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 0 1em 1.7em rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
	text-decoration: none;
	animation: float 4s ease-in-out infinite alternate;
}

.card:hover {
	transform: translateY(-20px) scale(1.005) translateZ(0);
	box-shadow: 0 1.7em 2.3px rgba(0,0,0,0.11),
				0 1.7px 46px var(--box-shadow-color);
}

.card:hover .overlay {
	transform: scale(40) translateZ(0);
}

.card:hover .circle {
	border-color: var(--bg-color-light);
	background: var(--bg-color);
}

.card:hover .circle:after {
	background: var(--bg-color-light);
}

.card:hover>p {
	color: var(--text-color-hover);
}

.card:hover i {
	color: var(--bg-color);
}

.card.active {
	position: initial;
	z-index: 150;
	height: 90vh;
	width: 40vw;
	animation: none;
	background-color: #44c2ea;
}

.card.active .overlay {
	opacity: 0;
}

.card:active {
	transform: scale(1) translateZ(0);
	box-shadow: 0 15px 24px rgba(0,0,0,0.11),
	0 15px 24px var(--box-shadow-color);
}

.card .card-title {
	font-size: 1.2em;
	color: #4C5656;
	margin-top: 30px;
	z-index: 50;
	font-weight: bold;
	transition: color 0.3s ease-out;
}

.circle {
	width: 131px;
	height: 131px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	transition: all 0.3s ease-out;
}

.circle:after {
	content: "";
	width: 118px;
	height: 118px;
	display: block;
	position: absolute;
	background: var(--bg-color);
	border-radius: 50%;
	top: 7px;
	left: 7px;
	transition: opacity 0.3s ease-out;
}

.overlay {
	width: 25px;
	position: absolute;
	height: 25px;
	border-radius: 50%;
	background: var(--bg-color);
	z-index: 0;
	transition: transform 0.3s ease-out;
}

.circle i {
	z-index: 50;
	transform: translateZ(0);
	font-size: 5em;
	color: var(--bg-color-light);
}

.rating-ranker {
	--bg-color: #f4b41a;
	--bg-color-light: #ffeeba;
	--text-color-hover: #fff9e6;
	--box-shadow-color: rgba(255, 215, 97, 0.48);
}

.problem-solver {
	--bg-color: #8AAAE5;
	--bg-color-light: #b3c2df;
	--text-color-hover: #fff;
	--box-shadow-color: rgba(184, 249, 211, 0.48);
}

.contributor {
	--bg-color: #CEB2FC;
	--bg-color-light: #F0E7FF;
	--text-color-hover: #fff;
	--box-shadow-color: rgba(206, 178, 252, 0.48);
}

.card-content {
	color: black;
	z-index: 300;
	opacity: 0;
	width: 100%;
	position: absolute;
	transition: all 0s ease-out;
	text-overflow: ellipsis;
	overflow: auto;
	padding: 1em;
	cursor: pointer;
}

.card-content .table {
	padding: 2em;
	overflow: wrap;
}

.card-content .table td, .card-content .table th {
	border: none;
}

.card-content .table th {
	background-color: var(--bg-color);
	color: black;
}

.card-content .table tr:nth-child(odd) td {
	background-color: var(--bg-color-light);
	color: black;
}

.card-content .table tr:nth-child(even) td {
	background-color: var(--bg-color);
	color: black;
}

.stage {
	margin: auto;
	padding: 0.5em;
	margin-top: 3em;
	position: relative;
	text-align: center;
}

.stage>img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.ranking p {
	position:relative;
	left: 50%;
	transform: translateX(-50%);
	width: 6em;
	text-align: center;
}

.ranking {
	display: flex;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	justify-content: center;
}

.stage .rank1 {
	margin: auto 3.7rem;
}

.card-content.active {
	position: relative;
	opacity: 1;
	transition: all 1.25s ease-in;
}

.card-content::-webkit-scrollbar {
	width: 0.5em;
}
