.pagination {
    margin: 1em 0;
    text-align: center;
}

.pagination ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination ul li {
    display: inline;
    margin: 0 2px;
}

.pagination ul li a {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    color: #444;
}

.pagination ul li.active a {
    background-color: #5b80b2;
    border-color: #5b80b2;
    color: white;
}

.pagination ul li.disabled a {
    color: #999;
    cursor: not-allowed;
}

.pagination ul li a:hover:not(.disabled) {
    background-color: #f5f5f5;
    border-color: #5b80b2;
}