@import "vars";

.admin a, .admin {
    color: $color_primary100 !important;
    font-weight: bold !important;
}

.banned a, .banned {
    color: black !important;
    font-weight: normal !important;
    text-decoration: line-through !important;
}

.banned a::before {
    content: "🚫";
}

.staff a, .staff {
    color: #ff888a !important;
    font-weight: bold !important;
}

.staff a::before {
    content: "🔥";
}

.daor a, .daor {
    color: #ff0066 !important;
    font-weight: bold !important;
}

.daor a::before {
    content: "🌸";
}

.teacher a::before {
    content: "🧑‍🏫";
}

@mixin rate-svg-color($color) {
    circle {
        stroke: $color;
    }
    path {
        fill: $color;
    }
}

svg.rate-box {
    width: 1.2em;

    circle {
        fill: none;
        stroke-width: 2px;
    }

    &.rate-none {
        visibility: hidden;
    }

    &.rate-newbie {
        @include rate-svg-color(#808080);
    }

    &.rate-pupil {
        @include rate-svg-color(#008000);
    }

    &.rate-specialist {
        @include rate-svg-color(#03A89E);
    }

    &.rate-expert {
        @include rate-svg-color(#0000FF);
    }

    &.rate-candidate-master {
        @include rate-svg-color(#AA00AA);
    }

    &.rate-master, &.rate-international-master {
        @include rate-svg-color(#FF8C00);
    }

    &.rate-grandmaster, &.rate-international-grandmaster, &.rate-legendary-grandmaster {
        @include rate-svg-color(#FF0000);
    }

    &.rate-target {
        circle:last-child {
            stroke: none;
            fill: #FF0000;
        }
    }
}

.rating {
    font-weight: bold;
}

.rate-none, .rate-none a {
    color: #999;
    font-weight: normal;
}

.rate-newbie, .rate-newbie a {
    color: #808080;
}

.rate-pupil, .rate-pupil a {
    color: #008000;
}

.rate-specialist, .rate-specialist a {
    color: #03A89E;
}

.rate-expert, .rate-expert a {
    color: #0000FF;
}

.rate-candidate-master, .rate-candidate-master a {
    color: #AA00AA;
}

.rate-master, .rate-master a,
.rate-international-master, .rate-international-master a {
    color: #FF8C00;
}

.rate-grandmaster, .rate-grandmaster a,
.rate-international-grandmaster, .rate-international-grandmaster a,
.rate-legendary-grandmaster, .rate-legendary-grandmaster a {
    color: #FF0000;
}

.rate-legendary-grandmaster a::first-letter {
    color: black;
}

.rate-group {
    white-space: nowrap;
    display: inline-block;
    color: black;

    .rating {
        display: inline-block;
    }

    .rate-box {
        margin-right: 0.2em;
        vertical-align: bottom;
    }
}
