.helptext {
    font-size: 15px;
    color: #999;
    border-width: 0 0 1px 0;
}
.helptext::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\f05a";
    padding-right: 5px;
    font-size: 15px;
}
.django-as-table {
    border-collapse:collapse;
}
.django-as-table th, td {
    padding-bottom: 10px;
}
.django-as-table th {
    max-width: 10em;
    width: 10em;
}

.django-as-table input:not([type='checkbox']) {
    width: 30em;
}

.errorlist {
    background: rgba(255, 0, 0, 0.3);
    border: 3px dashed red;
    border-right: none;
    border-left: solid red;
    padding: 0 1em 0.1em 2em;
    margin: 0.3em 0 0.5em 0;
}
.errornote {
    border: 3px dashed #ffc000;
    border-left: solid #ffc000;
    padding: 0.7em 2em;
    margin: 0 0 8px;
    font-size: 13px !important;
    font-weight: 400;
}
.required th::after {
    content: "*";
    color: red;
}
