$highlight_blue: #1ba94c;
$announcement_red: #ae0000;

$base_font_size: 15px;
$widget_border_radius: 4px;

$table_header_rounding: 6px;

$monospace-fonts: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('/static/fonts/FS PFBeauSansPro/FS PFBeauSansPro-Regular.otf') format('opentype'),
         url('/static/fonts/FS PFBeauSansPro/FS PFBeauSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('/static/fonts/FS PFBeauSansPro/FS PFBeauSansPro-Bbook.otf') format('opentype'),
         url('/static/fonts/FS PFBeauSansPro/FS PFBeauSansPro-Bbook.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('/static/fonts/FS PFBeauSansPro/FS PFBeauSansPro-SemiBold.otf') format('opentype'),
         url('/static/fonts/FS PFBeauSansPro/FS PFBeauSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FS Magistral';
    src: url('/static/fonts/FS Magistral/FS Magistral-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/static/fonts/Sarabun/Sarabun-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    src: url('/static/fonts/Sarabun/Sarabun-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

