{% extends "base.html" %}

{% block js_media %}
    {{ form.media.js }}
    {% include "leave-warning.html" %}
    <script>
        function generateShortCode() {
            var chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var code = '';
            for (var i = 0; i < 8; i++) {
                code += chars.charAt(Math.floor(Math.random() * chars.length));
            }
            document.getElementById('id_short_code').value = code;
        }
    </script>
{% endblock %}

{% block media %}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{{ static('ui_form.css') }}">
{% endblock %}

{% block body %}
<div>
    <form action="" method="post" class="form-area" style="display: flex; justify-content: center; flex-direction: column;">
        {% if form.errors %}
            <p class="errornote">{{ _('Please correct the error below.') }}</p>
        {% endif %}
        {% csrf_token %}
        <table class="django-as-table">{{ form.as_table() }}</table>
        <table>
            <tr>
                <td style="float: left;"></td>
                <td style="float: right;">
                    <input type="submit" value="{{ _('Save') if is_edit else _('Create') }}" class="button">
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
