{% extends "base.html" %}

{% block js_media %}
    <script type="text/javascript">
        $(function () {
            $('#id_reason').keydown(function (e) {
                if (e.ctrlKey && (e.keyCode === 13 || e.keyCode === 10)) {
                    $(this).closest('form').submit();
                }
            });

            // Function to check the selected value of the badge dropdown
            function checkBadgeValue() {
                var badgeValue = $('#id_badge').val();
                if (badgeValue === "") {
                    $('#new-badge-name').show();
                } else {
                    $('#new-badge-name').hide();
                }
            }

            // Initial check on page load
            checkBadgeValue();

            // Check on change event
            $('#id_badge').change(function () {
                checkBadgeValue();
            });
        });
    </script>
{% endblock %}

{% block body %}
  <form action="" method="post" class="form-area">
    {% csrf_token %}
    <p><label for="{{ form.badge.id_for_badge }}"><b>{{ _('Badge name:') }}</b></label></p>
    <p>{{ form.badge }}</p>
    <div id="new-badge-name">
        <p><label for="{{ form.badge.id_for_new_badge_name }}"><b>{{ _('Your new badge name:') }}</b></label></p>
        <p>{{ form.new_badge_name }}</p>
    </div>
    <p><label for="{{ form.desc.id_for_desc }}"><b>{{ _('Description:') }}</b></label></p>
    <p>{{ form.desc }}</p>
    <p><label for="{{ form.cert.id_for_cert }}"><b>{{ _('Your certification (only one file in pdf format):') }}</b></label></p>
    <p>{{ form.cert }}</p>
    {% if form.errors %}
        <p style="color: red">{{ _('Please correct the errors below.') }}</p>
        {{ form.errors}}
    {% endif %}
    <button type="submit">{{ _('Request!') }}</button>
  </form>
{% endblock %}