{% extends "common-content.html" %}

{% block content_media %}
    {% if not comment_lock %}
        {% include "comments/media-css.html" %}
    {% endif %}
{% endblock %}

{% block content_js_media %}
    {% if not comment_lock %}
        {% include "comments/media-js.html" %}
    {% endif %}
{% endblock %}

{% block body %}
    <div id="content-left" class="problems">
        <h2 class="title">
            {{ _('Comments for') }} <a href="{{ url('problem_detail', problem.code) }}">{{ problem.name }}</a>
        </h2>
        
        {% block comments %}
            {% if comment_lock %}
                <div class="clarifications-area">
                    <h2><i class="fa fa-question-circle"></i> {{ _('Clarifications') }}</h2>
                    {% if has_clarifications %}
                        {% for clarification in clarifications %}
                            <div class="problem-clarification">
                                <div class="time">{{ relative_time(clarification.date) }}</div>
                                <span class="body">
                                    {{ clarification.description|markdown('problem', MATH_ENGINE)|reference }}
                                </span>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="no-comments-message">{{ _('No clarifications have been made at this time.') }}</p>
                    {% endif %}
                </div>
            {% else %}
                {% with comment_warn_code=true %}
                    {% include "comments/list.html" %}
                {% endwith %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
