{% extends "base.html" %}

{% block js_media %}
    {{ form.media.js }}
    {% include "leave-warning.html" %}

    <script src="{{ static('vnoj/jquery.formset.js') }}"></script>

    <script>
        $(function() {
            {% if lang_limit_formset %}
                $('#form_set tr').formset({
                    prefix: '{{ lang_limit_formset.prefix }}'
                });

            $('#lang_limit_title').click(function() {
                $('#lang_limit_title i').toggleClass('fa-caret-down fa-caret-up');
                $('#lang_limit_table').toggleClass('hidden');
            });
            $('#lang_limit_title').click();
            {% endif %}

            var noResults = function () {
                return {{ _('Press Enter to select multiple users...')|htmltojs }};
            };

            $(document).one('click', '#id_testers + .select2', function (e) {
                $('#id_testers').data().select2.options.get('translations').dict['noResults'] = noResults;
            });

            $(document).on('keyup', '#id_testers + .select2 .select2-search__field', function (e) {
                if (e.keyCode === 13) {
                    var $id_testers = $('#id_testers');
                    var testers = $(this).val().split(/[\s,]+/);
                    if (testers.length <= 1) {
                        // Skip to let select2 handle this
                        return;
                    }

                    $.ajax({
                        type: 'GET',
                        url: $id_testers.data().select2.dataAdapter.ajaxOptions.url,
                        data: {
                            multiple_terms: testers,
                        },
                        success: function (response) {
                            for (const tester of response.results) {
                                $id_testers.select2('trigger', 'select', {
                                    data: tester,
                                });
                            }
                        },
                    });
                }
            });
        })
    </script>
{% endblock %}

{% block media %}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{{ static('ui_form.css') }}">
    <style>
        .hidden {
            display: none;
        }
    </style>
{% endblock %}

{% macro form_as_row(form) -%}
    {% if form.non_field_errors() %}
    <tr>
        <td colspan="6">{{ form.non_field_errors() }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>{{ form.id }} {{ form.language.errors }}{{ form.language }}</td>
        <td>{{ form.time_limit.errors }}{{ form.time_limit }}</td>
        <td>{{ form.memory_limit.errors }}{{ form.memory_limit }}</td>
        <td>
        {% if lang_limit_formset.can_delete and form.instance.pk %}
            {{ form.DELETE }}
        {% endif %}
        </td>
    <tr>
{%- endmacro %}

{% block body %}
<div>
    {% if request.user.is_staff %}
        <div class="alert alert-warning alert-dismissable">
            <a class="close">x</a>
            <a href="{{ url('admin:judge_problem_change', object.id) }}">{{ _('Edit problem in admin panel for more options') }}</a>
        </div>
    {% endif %}
    {% if perms.judge.import_polygon_package %}
        <div class="alert alert-warning alert-dismissable">
            <a class="close">x</a>
            <a href="{{ url('problem_update_polygon', object.code) }}">{{ _('Update problem from Codeforces Polygon package') }}</a>
        </div>
    {% endif %}
    <form action="" method="post" class="form-area" enctype="multipart/form-data" style="display: flex; justify-content: center; flex-direction: column;">
        {% if form.errors or solution_formset.errors %}
            <p class="errornote"> {{ _('Please correct the error below.') }}</p>
        {% endif %}
        {% csrf_token %}
        {{ lang_limit_formset.management_form }}
        <table class="django-as-table">{{ form.as_table() }}</table>
        <hr>

        <center>
            <h3 id="lang_limit_title">{{ _('Language-specific resource limit') }} <i class="fa fa-caret-up"></i></h3>
            <span class="helptext">{{ _('Only use this feature if you really need to!') }}</span>
        </center>
        <table class="table" id="lang_limit_table">
            <thead>
                <tr>
                    <th style="width: 20em;"> {{ _('Language') }} </th>
                    <th> {{ _('Time limit (seconds)') }} </th>
                    <th> {{ _('Memory limit (KiB)') }} </th>
                    <th> {{ _('Delete') }} </th>
                </tr>
            </thead>
            <tbody id="form_set">
                {% for form in lang_limit_formset %}
                    {{ form_as_row(form) }}
                {% endfor %}
            </tbody>
        </table>
        <hr>

        <center><h3> {{ _('Editorial') }} </h3></center>
        <table class="django-as-table">{{ solution_formset.as_table() }}</table>

        <table>
            <tr><td style="float: left;">
            <td style="float: right;"><input type="submit" value="{{ _('Update') }}" class="button"></td></tr>
        </table>
    </form>
</div>
{% endblock %}
