{% extends "base.html" %}

{% block js_media %}
    {{ form.media.js }}
{% endblock %}

{% block media %}
    {{ form.media.css }}
{% endblock %}

{% block body %}
<div>
    <form action="" method="post" class="form-area" style="width: 100%; display: flex; justify-content: center; flex-direction: column;">
        {% csrf_token %}
        <table class="django-as-table">{{ form.as_table() }}</table>
        <hr>
        <table>
            <tr><td style="float: left;"><button class="submit-bar" type="button">
                <a href="{{ url('admin:judge_problem_change', problem.id) }}" style="color: white;">{{ _('Edit problem in admin panel for more options') }}</a>
            </button></td>
            <td style="float: right;"><button class="submit-bar" type="submit">{{ _('Update') }}</button></td></tr>
        </table>
    </form>
</div>
{% endblock %}
