{% extends "common-content.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'editorials' %}
    {% include "problem/problem-list-tabs.html" %}
{% endblock %}

{% block body %}
    {% if page_obj.has_other_pages() %}
        <div class="top-pagination-bar">{% include "list-pages.html" %}</div>
    {% endif %}

    <div id="common-content">
        {% block before_table %}{% endblock %}
        <div id="content-right" class="problems">
            <div class="info-float">
                {% include "problem/search-form.html" %}
            </div>
        </div>
        <div id="content-left" class="problems h-scrollable-table">
            <table id="problem-table" class="table striped">
                <thead>
                <tr>
                    <th class="problem-code">
                        <a>{{ _('ID') }}</a>
                    </th>
                    <th class="problem-name">
                        <a>{{ _('Problem') }}</a>
                    </th>
                    <th class="author">
                        <a>{{ _('Author') }}</a>
                    </th>
                    <th class="link">
                        <a>{{ _('Link') }}</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for proposal in proposals %}
                    {% with problem=proposal.problem %}
                        <tr>
                            <td class="problem-code">
                                <a href="{{ url('problem_detail', problem.code) }}">{{ problem.code }}</a>
                            </td>
                            <td class="problem-name">
                                <a href="{{ url('problem_detail', problem.code) }}">{{ problem.i18n_name or problem.name }}</a>
                            </td>
                            <td class="author">
                                {{ link_user(proposal.author) }}
                            </td>
                            <td class="link">
                                <a href="{{ proposal.get_absolute_url() }}">{{ _('Link to the proposal') }}</a>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
