{% extends "tabs-base.html" %}

{% block tabs %}
    {% if request.user.has_perm('judge.add_problem') %}
        {{ make_tab('create', 'fa-plus', url('problem_create'), _('Create new problem')) }}
    {% elif request.user.has_perm('judge.suggest_new_problem') %}
        {{ make_tab('suggest', 'fa-plus', url('problem_suggest'), _('Suggest new problem')) }}
    {% endif %}
    {{ make_tab('list', 'fa-list', url('problem_list'), _('List')) }}

    {% if perms.judge.edit_all_problem or perms.judge.edit_public_problem or perms.judge.edit_own_problem %}
        {{ make_tab('suggest', 'fa-list', url('problem_suggest_list'), _('Suggest')) }}
    {% endif %}
    {% if request.user.is_superuser %}
        {{ make_tab('admin', 'fa-edit', url('admin:judge_problem_changelist'), _('Admin')) }}
    {% endif %}
{% endblock %}
