{% with pdf_url=problem.pdf_url %}
{% if pdf_url %}
    <p>{{ _("In case the statement didn't load correctly, you can download the statement here: ") }}<a href="{{ pdf_url }}">{{ _("Statement") }}</a></p>
    <object id="pdfContainer" data="{{ pdf_url }}" type="application/pdf" height="1000" style="width: 100%;" ></object>
{% endif %}
{% endwith %}

{% cache 86400 'problem_html' problem.id MATH_ENGINE LANGUAGE_CODE %}
    {{ (description or problem.i18n_description or problem.description)|markdown(problem.markdown_style, MATH_ENGINE)|reference|str|safe }}
{% endcache %}

{% with license=problem.license %}
    {% if license %}
        <span class="license">
        <a href="{{ url('license', license.key) }}">{{ license.display or license.name }}</a>
    </span>
    {% endif %}
{% endwith %}
