{{ form.media.css }}
{% compress css %}
    <style media="screen">
        #submit-wrapper {
            margin-top: 0.7em;
        }

        #submit-wrapper #editor, #submit-wrapper #language {
            margin-top: 4px;
        }

        #id_language {
            width: 100%;
        }

        #result-version-info {
            border-bottom: 1px solid rgb(148, 148, 148);
            margin: 0px 1em;
            color: #757575;
            font-weight: 600;
            padding: 0.2em 0;
            text-align: right;
        }

        #language-select2 .select2-results__message {
            white-space: nowrap
        }

        #language-select2.select2-dropdown--above {
            display: flex;
            flex-direction: column-reverse;
        }

        #language-select2 .select2-results__option {
            color: #757575 !important;
            background: white !important;
        }

        #language-select2 .select2-results__option--highlighted {
            text-decoration: underline;
        }

        #language-select2 .select2-results__option[aria-selected=true] {
            font-weight: bold;
            color: black !important;
        }

        #language-select2 .select2-results__option {
            padding: 4px 0px;
        }

        #language-select2 .select2-results__options {
            overflow-y: visible !important;
        }

        #language-select2 .select2-results__option {
            break-inside: avoid-column;
        }

        #language-select2 .select2-results {
            -webkit-columns: 10 7em;
            -moz-columns: 10 7em;
            columns: 10 7em;
            padding-left: 1.5em;
            padding-top: 0.5em;
        }
    </style>
{% endcompress %}