{# This template contains just the form body, can be included in submit.html or problem.html #}
{% if not inline_mode %}
    <br>
{% endif %}

{% if not no_judges %}
    {% if default_lang not in form.fields.language.queryset %}
        <div class="alert alert-warning alert-dismissable">
            <a class="close">x</a>
            <b>{{ _('Warning!') }}</b>
            {{ _('Your default language, %(language)s, is unavailable for this problem and has been deselected.', language=bold(default_lang.name)) }}
        </div>
    {% endif %}

    {% if request.in_contest and submission_limit %}
        {% if submissions_left > 0 %}
            <div class="alert alert-warning alert-dismissable">
                <a class="close">x</a>
                {% trans left=submissions_left -%}
                    You have {{ left }} submission left
                    {%- pluralize -%}
                    You have {{ left }} submissions left
                {%- endtrans %}
            </div>
        {% else %}
            <div class="alert alert-warning alert-dismissable">
                <a class="close">x</a>
                {{ _('You have 0 submissions left') }}
            </div>
        {% endif %}
    {% endif %}
{% endif %}

<form id="problem_submit" action="{{ url('problem_submit', problem.code) }}" method="post" class="form-area" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors() }}
    <div id="submit-wrapper">
        <div id="editor" class="hidden">
            <div>
                <label for="file_select"><i>{{ _('Paste your source code here or load it from a file:') }}</i></label>
                <input id="file_select" type="file" onchange="handleFileSelect()">
            </div>
            {{ form.source.errors }}
            {{ form.source }}
        </div>
        <div id="file-submit" class="hidden">
            <div class="alert alert-warning alert-dismissable">
                <a class="close">x</a>
                {{ _('You can only submit file for this language.')}}
            </div>
            {{ form.submission_file.errors }}
            <input id="file_upload" type="file" name="submission_file" style="display: none;" onchange="handleFileChange()">
            <label for="file_upload" id="file_drag"></label>
        </div>
        <hr>
        {% if not no_judges %}
            <div id="language">
                {{ form.language.errors }}
                <div id="language-select">
                    <select id="id_language" name="language">
                        {% for lang in form.fields.language.queryset %}
                            <option value="{{ lang.id }}" data-id="{{ lang.id }}" data-name="{{ lang.name }}"
                                    data-info="{{ lang.info }}" data-ace="{{ lang.ace }}" data-fileonly="{{ lang.file_only }}"
                                    data-ext="{{ lang.extension }}" data-file-size="{{ lang.file_size_limit }}"
                                    data-judge-info="{{ runtime_versions(lang.runtime_versions()) }}"
                                    {% if lang.id == default_lang.id %}selected{% endif %}>{{ lang.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
    </div>

    <hr>

    {% if no_judges %}
        <span style="color: red">{{ _('No judge is available for this problem.') }}</span>
    {% else %}
        <div class="submit-bar">
            {{ form.judge }}
            <input type="submit" value="{{ _('Submit!') }}" class="button"
                   {% if request.in_contest and submission_limit and not submissions_left %}disabled{% endif %}>
        </div>
    {% endif %}
</form>
