{% extends "problem/editor.html" %}

{% block body %}
<div>
    {% if request.path == url('problem_suggest') %}
        <div class="alert alert-warning alert-dismissable">
            <a class="close">x</a>
            <b>{{ _('Thanks for suggesting problem!') }}</b>
            <br>
            {{ _('Please keep in mind that this form is only for creating new problems. Spamming and using for wrong purposes is not allowed.') }}
            <br>
            {{ (_('If you don\'t know how to suggest a problem, please read [guide][0].') + '\n\n  [0]: /about/suggest_guide/')|markdown('blog', strip_paragraphs=True) }}
        </div>
    {% endif %}
    <form action="" method="post" class="form-area" enctype="multipart/form-data" style="display: flex; justify-content: center; flex-direction: column;">
        {% csrf_token %}
        <table class="django-as-table">{{ form.as_table() }}</table>
        <hr>
        <div style="display: flex; justify-content: flex-end;"><input type="submit" value="{{ _('Create') }}" class="button"></div>
    </form>
</div>
{% endblock %}
