{% extends "base.html" %}

{% block js_media %}
    {{ form.media.js }}
    {% include "leave-warning.html" %}

    <script src="{{ static('vnoj/jquery.formset.js') }}"></script>
{% endblock %}

{% block body %}
<div>
    <form action="" method="post" class="form-area" enctype="multipart/form-data" style="display: flex; justify-content: center; flex-direction: column;">
        {% if form.errors %}
            <p class="errornote"> {{ _('Please correct the error below.') }}</p>
        {% endif %}
        {% csrf_token %}
        <table class="django-as-table">{{ form.as_table() }}</table>
        <hr>
        <table>
            <tr><td style="float: left;">
            <td style="float: right;"><input type="submit" value="{{ _('Update') }}" class="button"></td></tr>
        </table>
    </form>
</div>
{% endblock %}
