{% extends "base.html" %}

{% block js_media %}
    {% include "comments/media-js.html" %}
{% endblock %}

{% block media %}
    {% include "comments/media-css.html" %}
{% endblock %}

{% block header %}
    {% if post.organization %}
        <span class="organization-tag" style="display: inline;">
            <a href="{{ post.organization.get_absolute_url() }}">
                <i class="fa fa-lock"></i> {{ post.organization.name }}
            </a>
        </span>
    {% endif %}
    {% if post.is_editable_by(request.user) %}
        <div class="title-line-action">[<a href="{{ url('blog_post_edit', post.id, post.slug) }}">{{ _('Edit') }}</a>]
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="post-full">
        <div class="time">
            {% with authors=post.authors.all() %}
                {% if authors %}
                    <span class="post-authors">{{ link_users(authors) }}</span>
                {% endif %}
            {% endwith %}
            <span class="post-time">
                {%- trans time=post.publish_on|date(_("N j, Y, G:i")) -%}
                    posted on {{ time }}
                {%- endtrans -%}
            </span>
        </div>
        <div class="body content-description">
            {% cache 86400 'post_content' post.id MATH_ENGINE %}
                {{ post.content|markdown('blog', MATH_ENGINE)|reference|str|safe}}
            {% endcache %}
        </div>
    </div>
    <hr>
    <span class="social">
        {{ post_to_facebook(request, post, '<i class="fa fa-facebook-official"></i>') }}
        {{ post_to_twitter(request, SITE_NAME + ':', post, '<i class="fa fa-twitter"></i>') }}
    </span>
    {% include "comments/list.html" %}
    <div style="clear: both;"></div>
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
    {% include "comments/math.html" %}
{% endblock %}
