{% extends "base.html" %}
{% block title_row %}
{% endblock %}
{% block title_ruler %}{% endblock %}

{% block media %}
    <link rel="alternate" type="application/atom+xml" href="{{ url('blog_atom') }}" title="Atom Blog Feed">
    <link rel="alternate" type="application/rss+xml" href="{{ url('blog_rss') }}" title="RSS Blog Feed">
    <link rel="alternate" type="application/atom+xml" href="{{ url('comment_atom') }}" title="Atom Comment Feed">
    <link rel="alternate" type="application/rss+xml" href="{{ url('comment_rss') }}" title="RSS Comment Feed">
    <link rel="alternate" type="application/atom+xml" href="{{ url('problem_atom') }}" title="Atom Problem Feed">
    <link rel="alternate" type="application/rss+xml" href="{{ url('problem_rss') }}" title="RSS Problem Feed">
{% endblock %}

{% block js_media %}
    {% include "blog/media-js.html" %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });

            $('.blog-sidebar').hide();
            $('#blog-tab').find('a').click(function (e) {
                e.preventDefault();
                $('#blog-tab').addClass('active');
                $('#event-tab').removeClass('active');
                $('.blog-content').show();
                $('.blog-sidebar').hide();
            });
            $('#event-tab').find('a').click(function (e) {
                e.preventDefault();
                $('#event-tab').addClass('active');
                $('#blog-tab').removeClass('active');
                $('.blog-content').hide();
                $('.blog-sidebar').show();
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% block before_posts %}{% endblock %}
    <div id="mobile" class="tabs">
        <ul>
            <li id="blog-tab" class="tab active"><a href="#">
                <i class="tab-icon fa fa-info-circle"></i> {{ _('Blog') }}
            </a></li>
            <li id="event-tab" class="tab"><a href="#"><i class="tab-icon fa fa-rss"></i> {{ _('Events') }}</a></li>
        </ul>
    </div>
    <div id="blog-container">
        <div class="blog-content sidebox">
            {% include "blog/blog-list-tabs.html" %}
            <div class="sidebox-content" style="border: unset;">
                {% for post in posts %}
                    {% include "blog/blog-post.html" %}
                {% endfor %}
            </div>
            {% if page_obj.has_other_pages() %}
                <div class="bottom-pagination-bar">{% include "list-pages.html" %}</div>
            {% endif %}
        </div>

        <div class="blog-sidebar">
            {% if own_open_tickets %}
                <div class="blog-sidebox sidebox">
                    <h3>{{ _('My open tickets') }} <i class="fa fa-question-circle"></i></h3>
                    <div class="sidebox-content">
                        <ul class="own-open-tickets">
                            {% for ticket in own_open_tickets %}
                                <li>
                                    <div class="title">
                                        <a href="{{ url('ticket', ticket.id) }}">{{ ticket.title }}</a>
                                    </div>
                                    <div class="object">
                                        <a href="{{ ticket.linked_item.get_absolute_url() }}">
                                            {{ ticket.linked_item|item_title|truncatechars_html(30) }}</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if open_tickets %}
                <div class="blog-sidebox sidebox">
                    <h3>{{ _('New tickets') }} <i class="fa fa-exclamation-circle"></i></h3>
                    <div class="sidebox-content">
                        <ul class="open-tickets">
                            {% for ticket in open_tickets %}
                                <li>
                                    <div class="title">
                                        <a href="{{ url('ticket', ticket.id) }}">{{ ticket.title }}</a>
                                    </div>
                                    <div class="object">
                                        <a href="{{ ticket.linked_item.get_absolute_url() }}">
                                            {{ ticket.linked_item|item_title|truncatechars_html(30) }}</a>
                                    </div>
                                    <div class="author">{{ link_user(ticket.user) }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if current_contests %}
                <div class="blog-sidebox sidebox">
                    <h3>{{ _('Ongoing contests') }} <i class="fa fa-trophy"></i></h3>
                    <div class="sidebox-content sidebox-ongoing-contest">
                        {% for contest in current_contests %}
                            <div class="contest">
                                <div class="contest-list-title">
                                    <a href="{{ url('contest_view', contest.key) }}">{{ contest.name }}</a>
                                </div>
                                <div class="time">
                                    {{ _('Ends in %(countdown)s.', countdown=as_countdown(contest.time_before_end)) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if future_contests %}
                <div class="blog-sidebox sidebox">
                    <h3>{{ _('Upcoming contests') }} <i class="fa fa-trophy"></i></h3>
                    <div class="sidebox-content">
                        {% for contest in future_contests %}
                            <div class="contest">
                                <div class="contest-list-title">
                                    <a href="{{ url('contest_view', contest.key) }}">{{ contest.name }}</a>
                                </div>
                                <div class="time">
                                    {{ _('Starting in %(countdown)s.', countdown=as_countdown(contest.time_before_start)) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if top_pp_users %}
                {% include "blog/top-pp.html" %}
            {% endif %}
            {% if top_contrib %}
                {% include "blog/top-contrib.html" %}
            {% endif %}
            <div class="blog-sidebox sidebox">
                <h3 style="display: flex; justify-content: space-between; white-space: nowrap;">
                    <span style="margin-right: 10px;">
                        {{ _('Comment stream') }}
                    </span>
                    {% if misc_config.discord_invite_link and misc_config.discord_invite_shieldio %}
                        <span style="margin: 0.1em 0.3em -6px;">
                            <a href="{{ misc_config.discord_invite_link }}">
                                <img style="max-width: none;" src="{{ misc_config.discord_invite_shieldio }}" alt="Discord">
                            </a>
                        </span>
                    {% endif %}
                </h3>
                <div class="sidebox-content">
                    <ul>
                        {% for comment in comments %}
                            <li>
                                <span style="padding-left:0.25em" class="poster">
                                    {{ link_user(comment.author) }}
                                </span> &rarr;
                                <a href="{{ comment.link }}#comment-{{ comment.id }}">{{ comment.page_title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <span class="rssatom">
                        <a href="{{ url('comment_rss') }}"><span><i class="fa fa-rss"></i></span> RSS</a>
                        /
                        <a href="{{ url('comment_atom') }}">Atom</a>
                    </span>
                </div>
            </div>
            <div class="blog-sidebox sidebox">
                <h3>{{ _('New problems') }} <i class="fa fa-puzzle-piece"></i>
                </h3>
                <div class="sidebox-content">
                    <ul class="problem-list">
                        {% for problem in new_problems %}
                            <li><a href="{{ url('problem_detail', problem.code) }}">{{ problem.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <span class="rssatom">
                        <a href="{{ url('problem_rss') }}"><span><i class="fa fa-rss"></i></span> RSS</a>
                        /
                        <a href="{{ url('problem_atom') }}">Atom</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    {% block after_posts %}{% endblock %}
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
{% endblock %}
