<div class="blog-sidebox sidebox">
    <h3>{{ _('Top contributors') }} <i class="fa fa-trophy"></i></h3>
    <table id="users-table" class="table"> 
        <thead>
            <tr>
                <th class="header rank"> # </th>
                <th class="header username">{{ _('Username') }}</th>
                <th class="header contrib"> {{ _('Contrib.') }} </th>
            </tr>
        </thead>
        <tbody>
            {% for username, contrib in top_contrib %}
                <tr id="user-{{ username }}">
                    <td>{{ loop.index }}</td>
                    <td class="user-name"> 
                        <div style="float:left"> 
                            <a href="{{ url('user_page', username) }}">{{ username }}</a>
                        </div> 
                    </td>
                    
                    <td class="user-contrib">
                        {{ contrib }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>