<div class="blog-sidebox sidebox">
    <h3>{{ _('Top contributors') }} <i class="fa fa-trophy"></i></h3>
    <div class="sidebox-content" style="padding: unset; border: unset;">
        <table class="users-table table" style="margin-bottom: unset;">
            <thead>
                <tr>
                    <th class="header rank" style="border-top-left-radius: unset; padding: 4px 9px 4px 9px;"> # </th>
                    <th class="header username">{{ _('Username') }}</th>
                    <th class="header contrib" style="border-top-right-radius: unset;"> {{ _('Contrib.') }} </th>
                </tr>
            </thead>
            <tbody>
                {% for user in top_contrib %}
                    <tr id="user-{{ loop.index }}">
                        <td>{{ loop.index }}</td>
                        <td class="user-name">
                            <div style="float:left">
                                {{ link_user(user) }}
                            </div>
                        </td>

                        <td class="user-contrib">
                            {{ user.contribution_points }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="position: relative; font-size: smaller; padding: unset;">
            <table class="table bottom">
                <tbody>
                    <tr>
                        <td class="right"><a href="{{ url('contributors_list') }}">{{ _('View all') }} >>></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
