{% extends "base.html" %}

{% block title %}{{ _('Edit File') }} - {{ file.filename }}{% endblock %}

{% block body %}
<style>
    .file-edit-wrap {
        max-width: 640px;
    }

    .block-header {
        font-weight: 600;
        margin-top: 0.8em;
        margin-bottom: 0.3em;
    }

    .fullwidth {
        display: block;
        overflow: hidden;
    }

    .fullwidth textarea,
    .fullwidth input[type="text"] {
        width: 100%;
    }

    .form-field-error {
        color: #c00;
        margin-top: 0.2em;
        font-size: 0.9em;
    }

    .edit-actions {
        display: flex;
        gap: 0.5em;
        margin-top: 1em;
    }

    .back-link {
        margin-bottom: 1em;
        display: block;
    }
</style>

<div class="file-edit-wrap">
    <a class="back-link" href="{{ url('user_file_detail', file.uuid) }}">
        <i class="fa fa-arrow-left"></i> {{ _('Back to file details') }}
    </a>

    <div class="sidebox">
        <h3>{{ _('Edit metadata') }} <i class="fa fa-edit"></i></h3>
        <div class="sidebox-content">
            <form method="post" novalidate>
                {% csrf_token %}

                {% if form.non_field_errors() %}
                    <div class="form-field-error">
                        {% for error in form.non_field_errors() %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="block-header">{{ form.description.label }}</div>
                <span class="fullwidth">{{ form.description }}</span>
                {% if form.description.errors %}
                    <div class="form-field-error">{{ form.description.errors }}</div>
                {% endif %}

                <div style="margin-top: 0.8em;">
                    {{ form.is_public }}
                    <label for="{{ form.is_public.id_for_label }}" style="float: unset; display: inline;">
                        {{ form.is_public.label }}
                    </label>
                    {% if form.is_public.errors %}
                        <div class="form-field-error">{{ form.is_public.errors }}</div>
                    {% endif %}
                    <small>&mdash; {{ _('if checked, this file is accessible to all users') }}</small>
                </div>

                <div class="edit-actions">
                    <button type="submit" class="button">
                        <i class="fa fa-save"></i> {{ _('Save changes') }}
                    </button>
                    <a href="{{ url('user_file_detail', file.uuid) }}" class="button">
                        {{ _('Cancel') }}
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
