{% extends "base.html" %}

{% block title_row %}{% endblock %}
{% block title_ruler %}{% endblock %}
{% block media %}

<link rel="stylesheet" href="{{ static('landing.css') }}">
{% endblock %}
{% block js_media %}
<script src="{{ static('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
{% block body %}
<div class="bootstrap-styles">
    <div>
        <img src="{{ static('landing/banner.png') }}">
        <img src="{{ static('landing/intro.png') }}">
        <div class="prize-container">
            <div class="container">
                <h1 class="prize-title">Cơ cấu giải thưởng</h1>
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="prize-svg-wrapper prize-svg-wrapper-1 mb-4 mb-md-0">
                            <img src="{{ static('landing/prize-section-1.svg') }}" class="prize-svg">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="prize-svg-wrapper prize-svg-wrapper-2">
                            <img src="{{ static('landing/prize-section-2.svg') }}" class="prize-svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .card-title {
                font-family: 'FS PF BeauSans Pro';
                font-weight: 600 !important;
                font-size: 24px;
                color: #000000;
            }
            .card-text {
                font-family: 'FS PF BeauSans Pro';
                font-weight: 400;
                font-size: 16px;
                color: #333333;
            }
        </style>
        <h1 style="text-align:center; font-family:FS Magistral; font-size:64px;">Các bài thi</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="/martor/637a0c3c-fda0-417e-bdab-e739d781672f.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Tiết kiệm năng lượng</h4>
                        <p class="card-text">Đề thi yêu cầu thí sinh xây dựng hệ thống ra quyết định tối ưu vận hành mạng viễn thông phức tạp bằng phương pháp học tăng cường (Deep Reinforcement Learning - RL)</p>
                    </div>
                    <div class="card-footer d-grid">
                        <a href="/airace/5gsavingenergy" class="btn btn-primary">Xem chi tiết <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/martor/b16929ca-cd09-4268-90e9-08e9d057b7af.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Văn bản kĩ thuật</h4>
                        <p class="card-text">Đề thi yêu cầu xử lý bảng PDF phức tạp, trích xuất thành dữ liệu số và truy vấn để trả lời trắc nghiệm nhiều đáp án đúng bằng phương pháp Xử lý ngôn ngữ tự nhiên (Natural Language Processing - NLP)</p>
                    </div>
                    <div class="card-footer d-grid">
                        <a href="/airace/techdocs" class="btn btn-primary">Xem chi tiết <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/martor/676e8dbe-6ecd-406c-8847-eb54521adb93.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Định vị 3D</h4>
                        <p class="card-text">Đề thi yêu cầu phát hiện bưu kiện trên cùng và xác định tọa độ 3D cùng hướng gắp chính xác để robot xử lý bằng phương pháp Thị giác máy tính (Computer Vision - CV)</p>
                    </div>
                    <div class="card-footer d-grid">
                        <a href="/airace/3dlocate" class="btn btn-primary">Xem chi tiết <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <img src="{{ static('landing/progress.png') }}">
        <h1 style="text-align:center; font-family:FS Magistral; font-size:64px;">Quy chế thi</h1>
        <style>
            #rules {
                .accordion-button {
                    font-family: 'FS PF BeauSans Pro';
                    font-weight: 600;
                    font-size: 24px;
                    color: #EE0033 !important;
                }
                .accordion-body {
                    font-family: 'FS PF BeauSans Pro';
                    font-weight: 400;
                    font-size: 20px;
                    color: #44494D;
                }
                .accordion-item + .accordion-item {
                    margin-top: 1rem; /* Adjust this value as needed for your desired gap */
                }
            }
        </style>
        <div class="accordion" id="rules">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Hình thức thi - đối tượng
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Hình thức: Vòng sơ loại thi trực tuyến, Vòng chung kết thi tập trung. Nền tảng chấm bài thi trên platform của cuộc thi.</li>
                            <li>Đối tượng dự thi: Không hạn chế đối tượng thi, tổ chức theo đội thi với số lượng tối đa 03 người/đội.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Nội dung đề thi và thể lệ nộp bài
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Đề thi được xây dựng theo 03 bài thi thuộc 03 lĩnh vực khác nhau</li>
                                <ul>
                                    <li>Tiết kiệm năng lượng - Học máy (ML)</li>
                                    <li>Văn bản kỹ thuật - Xử lý ngôn ngữ tự nhiên (NLP)</li>
                                    <li>Định vị 3D - Thị giác máy tính (CV)</li>
                                </ul>
                            </li>
                            <li>Thể lệ nộp bài
                                <ul>
                                    <li>Số lần nộp bài tối đa trong mỗi vòng thi được quy định trong quy chế riêng của từng bài.</li>
                                    <li>Nội dung bài dự thi sẽ bị vô hiệu nếu toàn bộ hoặc một phần bài nộp không đọc được, không đầy đủ, bị lỗi, bị thay đổi, giả mạo, có được thông qua gian lận hoặc do nộp muộn. BTC cuộc thi có quyền loại bất kỳ người dự thi nào gửi bài không tuân thủ tất cả các yêu cầu.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Đánh giá kết quả
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Kết quả thi được đánh giá dựa trên bảng xếp hạng (được chấm  tự động) và các tiêu chí của cuộc thi (các đánh giá định lượng thủ công, các đánh giá định tính theo các chỉ số do BTC đưa ra) cùng các xác định về việc tuân thủ quy chế thi của các đội thi.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Quản lý đội thi
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Các cá nhân tham gia được phép thành lập đội với số lượng không quá 03 thành viên. Một cá nhân không thể tham gia vào nhiều hơn một đội.</li>
                            <li>Mỗi cá nhân chỉ được nộp bài từ một tài khoản trên platform của cuộc thi.</li>
                            <li>Bằng cách gửi kết quả cho cuộc thi, các cá nhân tham gia đồng thuận việc công khai điểm số của mình tại các sự kiện liên quan của cuộc thi và trong các giấy tờ, thủ tục liên quan, theo quyết định của BTC.</li>
                            <li>Các cá nhân tham gia đảm bảo không có các hành vi gian lận, lừa dối hoặc các hành vi tham dự không công bằng khác trong cuộc thi.</li>
                            <li>Các cá nhân tham gia đảm bảo tuân thủ các luật và quy định hiện hành, trong đó bao gồm nhưng không giới hạn về quyền sở hữu trí tuệ của bên thứ ba đối với chương trình do cá nhân phát triển trong quá trình diễn ra cuộc thi; luật và quy định hiện hành liên quan đến quyền riêng tư và bảo vệ dữ liệu.</li>
                            <li>Các cá nhân tham gia phải cung cấp mã nguồn của các bài dự thi cũng như các dữ liệu được tạo ra khi có yêu cầu của BTC, cho phép BTC sử dụng với bất kỳ mục đích nào mà không cần phê duyệt thêm.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Quản lý dữ liệu
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Bằng cách tải xuống hoặc truy cập dữ liệu do BTC cuộc thi cung cấp theo bất kỳ cách nào, người thi đồng ý với các điều khoản sau:
                        <ul>
                            <li>Chi tiết về các tập dữ liệu được phép sử dụng sẽ được quy định cụ thể trong thuyết minh của từng bài.</li>
                            <li>Người thi không được chia sẻ dữ liệu dùng trong cuộc thi ra ngoài cộng đồng.</li>
                            <li>Người thi không phân phối, sao chép, tái sản xuất, tiết lộ, chuyển nhượng, cấp phép phụ, nhúng, lưu trữ, chuyển nhượng, bán, giao dịch hoặc bán lại bất kỳ phần nào của dữ liệu do BTC cuộc thi cung cấp cho bất kỳ bên thứ ba nào vì bất kỳ mục đích nào.</li>
                            <li>Người thi không được phép sử dụng dữ liệu để giám sát, phân tích hoặc nghiên cứu nhằm cô lập một nhóm cá nhân hoặc bất kỳ cá nhân đơn lẻ nào vì bất kỳ mục đích bất hợp pháp hoặc phân biệt đối xử nào.</li>
                            <li>Người thi hoàn toàn chịu trách nhiệm về việc sử dụng dữ liệu của mình, đồng thời chịu trách nhiệm bảo vệ và bồi thường cho BTC cuộc thi, chống lại bất kỳ khiếu nại phát sinh nào từ việc sử dụng dữ liệu của người thi.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Xử lý các trường hợp vi phạm
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Đối với các đội thi vi phạm quy chế, ban tổ chức sẽ áp dụng các biện pháp xử lý sau:
                              <ul>
                                <li>Thông báo vi phạm: Ban tổ chức sẽ gửi thông báo vi phạm trực tiếp đến cá nhân vi phạm hoặc thông báo về đơn vị chủ quản và yêu cầu giải trình về hành vi vi phạm.</li>
                                <li>Trừ điểm: Tuỳ theo mức độ vi phạm, ban tổ chức có quyền trừ điểm bài thi của cá nhân vi phạm. Mức độ trừ điểm sẽ căn cứ vào tính chất và mức độ nghiêm trọng của hành vi vi phạm.</li>
                                <li>Hủy bỏ kết quả thi: Nếu hành vi vi phạm nghiêm trọng hoặc tái diễn, ban tổ chức có quyền huỷ bỏ kết quả thi của cá nhân vi phạm và loại khỏi cuộc thi.</li>
                              </ul>
                            </li>
                            <li>Cơ chế giải quyết tranh chấp
                              <ul>
                                <li>Nếu có tranh chấp về việc xử lý vi phạm, ban tổ chức sẽ thành lập hội đồng giải quyết tranh chấp để xem xét và đưa ra quyết định cuối cùng. Quyết định của hội đồng giải quyết tranh chấp là quyết định cuối cùng và có hiệu lực ngay lập tức.</li>
                                <li>Quy định về trách nhiệm bảo vệ quyền lợi hợp pháp của các cá nhân và đội thi.</li>
                                <li>Trong mọi trường hợp, ban tổ chức cam kết xử lý công bằng, minh bạch và bảo vệ quyền lợi hợp pháp của tất cả các cá nhân và đội thi tham gia cuộc thi. Việc xử lý vi phạm sẽ được thực hiện dựa trên các nguyên tắc rõ ràng và không có sự thiên vị.</li>
                              </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
