<span style="display:block;margin: 0 2px;padding: 1em;background-color: rgb(255, 255, 255);border-radius: 6px;font-size: .95em;color: #444;margin-bottom:0.75em"></span>
<div style="display:block;margin-left:2em"><img height="100" src="https://raw.githubusercontent.com/VNOI-Admin/OJ/master/resources/icons/logo.png" style="display:inline;vertical-align: middle;">
</div>
<div style="display:block;margin: 0 2px;padding: 1em;border: 3px solid #2980B9;background-color: #f8f8f8;border-radius: 6px;font-size: .95em;color: #444;">

<b>Hệ thống thi: <a href="https://icpc-north22.vnoi.info/contests">https://icpc-north22.vnoi.info/contests</a></b> <br>


Tên trường: {{teamuni}} <br>
Tên đội: {{teamname}} <br><br>
Username: {{teamusername}} <br>
Password: {{teampassword}} <br>

</div>
