<div style="display:block;margin: 0 2px;padding: 1em;border: 3px solid #2980B9;background-color: #f8f8f8;border-radius: 6px;font-size: .95em;color: #444;">

Đây là thông tin về tài khoản thi ICPC vòng miền Trung 2023 <br>

<b>Hệ thống thi: <a href="https://icpc-mt.vnoi.info/contests/">https://icpc-mt.vnoi.info/contests/</a></b> <br>


Tên trường: {{teamuni}} <br>
Tên đội: {{teamname}} <br><br>
Username: {{teamusername}} <br>
Password: {{teampassword}} <br>

<br>

Lưu ý rằng tài khoản này sẽ được dùng trong cả 2 ngày thi thử và thi chính thức. <br>

</div>
