<span style="display:block;margin: 0 2px;padding: 1em;background-color: rgb(255, 255, 255);border-radius: 6px;font-size: .95em;color: #444;margin-bottom:0.75em"></span>
<div style="display:block;margin-left:2em"><img height="300" src="https://olp.vnoi.info/martor/bf78d301-2c45-48a0-93b6-69dd7a062d6c.jpg" style="display:inline;vertical-align: middle;">
</div>
<div style="display:block;margin: 0 2px;padding: 1em;border: 3px solid #2980B9;background-color: #f8f8f8;border-radius: 6px;font-size: .95em;color: #444;">

<b>Hệ thống thi: <a href="https://olp.vnoi.info/">https://olp.vnoi.info/</a></b> <br>


Tên trường: {{teamuni}} <br>
Tên đội: {{teamname}} <br><br>
Username: {{teamusername}} <br>
Password: {{teampassword}} <br>

</div>
