{% if request.in_contest and request.participation.contest.logo_override_image %}
    <img src="{{ request.participation.contest.logo_override_image|camo }}" alt="{{ SITE_NAME }}" height="40" style="border: none; padding-top: 4px;">
{% elif logo_override_image is defined and logo_override_image %}
    <img src="{{ logo_override_image|camo }}" alt="{{ SITE_NAME }}" height="40" style="border: none; padding-top: 4px">
{% else %}
    {% with logo_url=misc_config.site_logo|default(static('icons/utc-logo.svg'), true) %}
        <span class="utc-site-logo">
            <img src="{{ logo_url }}" alt="UTCOJ" width="46" height="46"
                 onerror="this.src=&quot;{{ static('icons/utc-logo.svg') }}&quot;; this.onerror=null">
            <strong>UTCOJ</strong>
        </span>
    {% endwith %}
{% endif %}
