{% extends "base.html" %}

{% block js_media %}
    {{ form.media.js }}
{% endblock %}

{% block media %}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{{ static('ui_form.css') }}">
{% endblock %}

{% block body %}
    <div class="alert alert-warning alert-dismissable">
        <a class="close">x</a>
        <b>{{ _('Creating new problem can take longer than usual!') }}</b>
        <br>
        {{ _('Due to API requests and cache optimization, creating problem can take longer than usual.') }}
        <br>{{ _('If no problem is created after 2 to 3 minutes, please open a ticket, or contact the admin for further information.') }}
    </div>
    <div>
        <form action="" method="post" class="form-area" style="display: flex; justify-content: center; flex-direction: column;">
            {% csrf_token %}
            <table class="django-as-table">{{ form.as_table() }}</table>
            <hr>
            <table>
                <tr><td style="float: left;">
                <td style="float: right;"><input type="submit" value="{{ _('Create') }}" class="button"></td></tr>
            </table>
        </form>
    </div>
{% endblock %}
