{% extends "common-content.html" %}

{% block media %}
    <link rel="stylesheet" type="text/css" href="{{ static('vnoj/accordion/accordion.css') }}">

    <style>
        #tagproblem-table th {
            padding: 0;
        }
    </style>
{% endblock %}

{% block js_media %}
    <script type="text/javascript" src="{{ static('vnoj/accordion/accordion.js') }}"></script>

    {% if selected_tag is not none %}
        <script>
            $(function () {
                var el = $('.accordion .card-body a[tag_id={{ selected_tag }}]')[0];
                if (el) {
                    el = $(el);
                    el.parent().toggleClass('show');
                    el.parent().slideDown(0);
                }
            });
        </script>
    {% endif %}
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'list' %}
    {% set title = _('Tag problem list') %}
    {% include "tag/tag-list-tabs.html" %}
{% endblock %}

{% block body %}
    {% if page_obj.has_other_pages() %}
        <div class="top-pagination-bar">{% include "list-pages.html" %}</div>
    {% endif %}

    <div id="common-content">
        {% block before_table %}{% endblock %}
        <div id="content-right" class="problems">
            <div class="info-float">
                <div class="sidebox accordion">
                    {% for group in groups %}
                        <div class="card">
                            <a class="card-toggle" href="#">{{ group.name }}</a>
                            <div class="card-body">
                                {% for tag in group.tags.all() %}
                                    <a href="{{ url('tagproblem_list') }}?tag_id={{ tag.code }}" tag_id={{ tag.code }}>{{ tag.name }}</a><br>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="content-left" class="problems h-scrollable-table">
            <table id="tagproblem-table" class="table striped">
                <thead>
                <tr>
                    <th>{{ _('Code') }}</th>
                    <th>{{ _('Problem') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for problem in tagproblems %}
                    <tr>
                        <td><a href="{{ url('tagproblem_detail', problem.code) }}">{{ problem.code }}</a></td>
                        <td><a href="{{ problem.link }}">{{ problem.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if page_obj.has_other_pages() %}
        <div class="bottom-pagination-bar">{% include "list-pages.html" %}</div>
    {% endif %}
{% endblock %}
