{% extends "base.html" %}

{% macro make_tag_url(tag) -%}
<a href="{{ url('tagproblem_list') }}?tag_id={{ tag.code }}" tag_id={{ tag.code }}>{{ tag.name }}</a>
{%- endmacro -%}

{% block media %}
    {% include "comments/media-css.html" %}
{% endblock %}

{% block js_media %}
    {% include "comments/media-js.html" %}
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    <div class="problem-title">
        <div class="tabs">
            <h2>{{ content_title }}</h2>
            <span class="spacer"></span>
            <ul>
                {% if request.user.is_authenticated and request.profile.can_tag_problems %}
                    <li class="tab">
                        <a href="{{ url('tagproblem_assign', problem.code) }}"><i class="tab-icon fa fa-plus"></i>{{ _('Assign new tag') }}</a>
                    </li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li class="tab">
                        <a href="{{ url('admin:judge_tagproblem_change', problem.id) }}"><i class="tab-icon fa fa-edit"></i>{{ _('Admin') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <table id="tag-table" class="table striped">
        <thead>
            <tr>
                <th>Tag</th>
                <th>Assigner</th>
            </tr>
        <thead>
        <div class="alert alert-warning alert-dismissable">
            {{_("The problem tag might not be correct. Please feel free to leave a comment or use the report button at the top right of the navigation bar.")}}
        </div>
        <tbody>
            {% for tag in problem.tagdata_set.all() %}
                <tr>
                    <td>{{ make_tag_url(tag.tag) }}</td>
                    <td>{{ link_user(tag.assigner) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "comments/list.html" %}
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
{% endblock %}
