{% extends "base.html" %}

{% block media %}
<link rel="stylesheet" href="{{ static('hof.css') }}">
<style>
</style>
{% endblock %}

{% block js_media %}
<script>

    $(document).ready(function(){

        $('.logo-grid-icon').mouseenter(event => {
            $('.title').text($(event.currentTarget).data('title'));
            $('.title').html($('.title').html().replace(/\n/g, '<br>'));

            $('#description').removeClass('type');
            $('#description').text($(event.currentTarget).data('content'));
            $('#description').width();
            $('#description').addClass('type');
        });

        $('.logo-grid-icon').mouseleave(event => {
            $('.title').text("VNOJ Hall of Fame");
            $('.title').html($('.title').html().replace(/\n/g, '<br>'));

            $('#description').removeClass('type');
            $('#description').text(
            `Meet the contributors of the community, the challengers who named themselves the best of the best.
            Use the VNOJ logo and let the journey begins.`);
            $('#description').html($('#description').html().replace(/\n/g, '<br>'));
            $('#description').width();
            $('#description').addClass('type');
        });

        $('.card').click(event => {
            const current_active = $('.card.active');
            if ($(current_active)[0] == $(event.currentTarget)[0]) {
                console.log('Same card clicked');
                current_active.removeClass('active').children('.card-content').removeClass('active');
                current_active.children().not('.card-content').fadeIn('fast');
            } else {
                console.log('Different card clicked');
                current_active.removeClass('active').children('.card-content').removeClass('active');
                current_active.children().not('.card-content').fadeIn('fast');
                $(event.currentTarget).addClass('active').children().not('.card-content').fadeOut('fast');
                $(event.currentTarget).children('.card-content').addClass('active');
            }
        })

        const cardGroups = document.querySelectorAll('.card-group');
        const buttons = document.querySelector('.buttons');

        for (let i = 0; i < cardGroups.length; i++) {
            const btn = document.createElement('button');
            btn.classList.add('btn');
            if (!i) btn.classList.add('active');
            buttons.append(btn);
        }

        const btns = document.querySelectorAll('.btn');
        btns.forEach((btn, i) => {
            btn.addEventListener('click', () => {
                let currentActiveIndex = 0;
                btns.forEach((btn, i) => {
                    if (btn.classList.contains('active')) currentActiveIndex = i;
                    btn.classList.remove('active')
                });
                btn.classList.add('active');
                if (i > currentActiveIndex) {
                    cardGroups[i].dataset.status = 'active-right';
                } else {
                    cardGroups[i].dataset.status = 'active-left';
                }
                cardGroups.forEach(cardGroup => {
                    if (cardGroup.dataset.status === 'active') {
                        if (i > currentActiveIndex) cardGroup.dataset.status = 'hidden-left';
                        else cardGroup.dataset.status = 'hidden-right';
                    }
                });
                setTimeout(() => {
                    cardGroups[i].dataset.status = 'active';
                });
            })
        })

        // observer = new IntersectionObserver(entries => {
        //     entries.forEach(entry => {
        //         if (entry.isIntersecting) {
        //             entry.target.classList.add('show');
        //             entry.target.classList.remove('hidden');
        //             observer.unobserve(entry.target);
        //         }
        //     });
        // });

        // $('.card').each((i, card) => {
        //     observer.observe(card);
        // });

        const navBtn = document.querySelector('.go-up');
        window.addEventListener('scroll', () => {
            if (window.scrollY > 100) {
                navBtn.classList.add('active');
            } else {
                navBtn.classList.remove('active');
            }
        });
        navBtn.addEventListener('click', () => {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    });
</script>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block title_row %}{% endblock %}
{% block title_ruler %}{% endblock %}

{% block body %}
    <section id="intro" class="hall-section">
        <div class="hall-content hero-sub-page">
            <div class="hero-sub-page__content">
                <h1 class="title">
                    VNOJ Hall of Fame
                </h1>
                <div style="height: 4em; text-align:right; padding: 0.5em 0em 0.5em 0em;">
                    <span id="description" class="type" style="--n:500">
                        Meet the contributors of the community, the challengers who named themselves the best of the best.
                        <br>
                        Use the VNOJ logo and let the journey begins.
                    </span>
                </div>
                <!-- <button class="hall-button"><a style="color: black !important;" href="#server-stats"><span>TO THE HALL  <i class="fa arrow fa-angle-double-right"></i></span></a></button> -->
            </div>
            <div class="hero-sub-page__content">
                <table style="padding-right: 2em; border-collapse: seperate; border-spacing: 1.5em;">
                    <tr>
                        <td>
                            <a href="#contests"><img class="logo-grid-icon logo-top-left" style="float:right" src="{{ static('VNOIV.png') }}" data-title="Hall of Champions" data-content="Meet challengers from some of the latest contests."></a>
                        </td>
                        <td>
                            <a href="#server-stats"><img class="logo-grid-icon logo-top-right" style="float:left" src="{{ static('VNOIN.png') }}" data-title="Cracking the Stats" data-content="Top rating users. Top contributors. Top problem hunters. Everyone, everywhere, all at once."></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#team"><img class="logo-grid-icon logo-bottom-left" style="float:right" src="{{ static('VNOIO.png') }}" data-title="VNOI Team" data-content="Meet the excellent team's members who try their best to contribute to the community"></a>
                        </td>
                        <td>
                            <a href="{{ url('home') }}"><img class="logo-grid-icon logo-bottom-right" style="float:left" src="{{ static('VNOII.png') }}" data-title="Return to the ship" data-content="Get back to your adventure. Write your own Hall of Fame."></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <section id="server-stats" class="hall-section">
        <div class="hall-content">
            <div class="card-holder">
                <div class="card rating-ranker">
                    <div class="overlay"></div>
                    <div class="circle">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <p class="card-title">Rating rankers</p>
                    <div class="card-content">
                        <div class="stage">
                            <img src="{{ static('stage.png') }}"/>
                            <div class="ranking">
                                <div class="rank3">
                                    <p class="rank3__content__info__name {{ratings[1].css_class}}">{{ ratings[1].user.username|truncate(14) }}</p>
                                    <p class="rank3__content__info__rating">Rating: {{ ratings[1].rating }}</p>
                                </div>
                                <div class="rank1">
                                    <p class="rank1__content__info__name {{ratings[0].css_class}}">{{ ratings[0].user.username|truncate(14) }}</p>
                                    <p class="rank1__content__info__rating">Rating: {{ ratings[0].rating }}</p>
                                </div>
                                <div class="rank2">
                                    <p class="rank2__content__info__name {{ratings[2].css_class}}">{{ ratings[2].user.username|truncate(14) }}</p>
                                    <p class="rank2__content__info__rating">Rating: {{ ratings[2].rating }}</p>
                                </div>
                            </div>
                        </div>
                        <table class="table" cellspacing="0" cellpadding="0">
                            <thead>
                                <th>Rank</th>
                                <th>Username</th>
                                <th>Rating</th>
                            </thead>
                            <tbody>
                                {% for user in ratings %}
                                    {% if loop.index > 3 %}
                                        <tr>
                                            <td class="text-black">{{ loop.index }}</td>
                                            <td class="{{ user.css_class }}">{{user.username}}</td>
                                            <td class="text-black">{{ user.rating }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card problem-solver">
                    <div class="overlay"></div>
                    <div class="circle">
                        <i class="fa fa-users"></i>
                    </div>
                    <p class="card-title">Problem Solvers</p>
                    <div class="card-content">
                        <div class="stage">
                            <img src="{{ static('stage.png') }}"/>
                            <div class="ranking">
                                <div class="rank3">
                                    <p class="rank3__content__info__name {{ problem_solvers[1].css_class}}">{{ problem_solvers[1].user.username|truncate(14) }}</p>
                                    <p class="rank3__content__info__rating">PP: {{ '%0.2f'| format(problem_solvers[1].performance_points | float) }}</p>
                                </div>
                                <div class="rank1">
                                    <p class="rank1__content__info__name {{ problem_solvers[0].css_class}}">{{ problem_solvers[0].user.username|truncate(14) }}</p>
                                    <p class="rank1__content__info__rating">PP: {{ '%0.2f'| format(problem_solvers[0].performance_points | float) }}</p>
                                </div>
                                <div class="rank2">
                                    <p class="rank2__content__info__name {{ problem_solvers[2].css_class}}">{{ problem_solvers[2].user.username|truncate(14) }}</p>
                                    <p class="rank2__content__info__rating">PP: {{ '%0.2f'| format(problem_solvers[2].performance_points | float) }}</p>
                                </div>
                            </div>
                        </div>
                        <table class="table" cellspacing="0" cellpadding="0">
                            <thead>
                                <th>Rank</th>
                                <th>Username</th>
                                <th>Rating</th>
                            </thead>
                            <tbody>
                                {% for user in problem_solvers %}
                                    {% if loop.index > 3 %}
                                        <tr>
                                            <td class="text-black">{{ loop.index }}</td>
                                            <td class="{{ user.css_class }}">{{user.username}}</td>
                                            <td class="text-black">{{ '%0.2f'| format(user.performance_points | float) }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card contributor">
                    <div class="overlay"></div>
                    <div class="circle">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                    <p class="card-title">Contributors</p>
                    <div class="card-content">
                        <div class="stage">
                            <img src="{{ static('stage.png') }}"/>
                            <div class="ranking">
                                <div class="rank3">
                                    <p class="rank3__content__info__name {{ contributors[1].css_class}}">{{ contributors[1].user.username|truncate(14) }}</p>
                                    <p class="rank3__content__info__rating">CP: {{ contributors[1].contribution_points }}</p>
                                </div>
                                <div class="rank1">
                                    <p class="rank1__content__info__name {{ contributors[0].css_class}}">{{ contributors[0].user.username|truncate(14) }}</p>
                                    <p class="rank1__content__info__rating">CP: {{ contributors[0].contribution_points }}</p>
                                </div>
                                <div class="rank2">
                                    <p class="rank2__content__info__name {{ contributors[2].css_class}}">{{ contributors[2].user.username|truncate(14) }}</p>
                                    <p class="rank2__content__info__rating">CP: {{ contributors[2].contribution_points }}</p>
                                </div>
                            </div>
                        </div>
                        <table class="table" cellspacing="0" cellpadding="0">
                            <thead>
                                <th>Rank</th>
                                <th>Username</th>
                                <th>Contribution points</th>
                            </thead>
                            <tbody>
                                {% for user in contributors %}
                                    {% if loop.index > 3 %}
                                        <tr>
                                            <td class="text-black">{{ loop.index }}</td>
                                            <td class="{{ user.css_class }}">{{user.username}}</td>
                                            <td class="text-black">{{ user.contribution_points }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section id="this-week" class="hall-section">
        <div class="hall-content">This is the this-week part</div>
    </section> -->
    <section id="top-contest" class="hall-section">
        <div class="hall-content">
            <div class="container">
                <div class="wrapper">
                    <h3 class="section-title">Recent Contests</h3>
                    <div class="recent">
                        {% for contest in contests %}
                            <div class="contest">
                                <h4>{{ contest[0] }}</h4>
                                <p class="date">{{ contest[0].start_time|date }}</p>
                                <table class="contests-table">
                                    <thead>
                                    </thead>
                                    <tbody>
                                        {% for user in contest[1] %}
                                            <tr>
                                                <td class="medal medal-{{loop.index}}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M4.1 38.2C1.4 34.2 0 29.4 0 24.6C0 11 11 0 24.6 0H133.9c11.2 0 21.7 5.9 27.4 15.5l68.5 114.1c-48.2 6.1-91.3 28.6-123.4 61.9L4.1 38.2zm503.7 0L405.6 191.5c-32.1-33.3-75.2-55.8-123.4-61.9L350.7 15.5C356.5 5.9 366.9 0 378.1 0H487.4C501 0 512 11 512 24.6c0 4.8-1.4 9.6-4.1 13.6zM80 336a176 176 0 1 1 352 0A176 176 0 1 1 80 336zm184.4-94.9c-3.4-7-13.3-7-16.8 0l-22.4 45.4c-1.4 2.8-4 4.7-7 5.1L168 298.9c-7.7 1.1-10.7 10.5-5.2 16l36.3 35.4c2.2 2.2 3.2 5.2 2.7 8.3l-8.6 49.9c-1.3 7.6 6.7 13.5 13.6 9.9l44.8-23.6c2.7-1.4 6-1.4 8.7 0l44.8 23.6c6.9 3.6 14.9-2.2 13.6-9.9l-8.6-49.9c-.5-3 .5-6.1 2.7-8.3l36.3-35.4c5.6-5.4 2.5-14.8-5.2-16l-50.1-7.3c-3-.4-5.7-2.4-7-5.1l-22.4-45.4z"/></svg>
                                                </td>
                                                <td class="{{ user.user.css_class }}">{{ user.user }}</td>
                                                <td>{{ user.score|floatformat }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="top-monthly">
                        <h3>Top user monthly</h3>
                        <div class="top-monthly__container">
                            {% if top_monthly %}
                                {% for user in top_monthly %}
                                    <div class="rank">
                                        <span class="medal medal-{{loop.index}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M4.1 38.2C1.4 34.2 0 29.4 0 24.6C0 11 11 0 24.6 0H133.9c11.2 0 21.7 5.9 27.4 15.5l68.5 114.1c-48.2 6.1-91.3 28.6-123.4 61.9L4.1 38.2zm503.7 0L405.6 191.5c-32.1-33.3-75.2-55.8-123.4-61.9L350.7 15.5C356.5 5.9 366.9 0 378.1 0H487.4C501 0 512 11 512 24.6c0 4.8-1.4 9.6-4.1 13.6zM80 336a176 176 0 1 1 352 0A176 176 0 1 1 80 336zm184.4-94.9c-3.4-7-13.3-7-16.8 0l-22.4 45.4c-1.4 2.8-4 4.7-7 5.1L168 298.9c-7.7 1.1-10.7 10.5-5.2 16l36.3 35.4c2.2 2.2 3.2 5.2 2.7 8.3l-8.6 49.9c-1.3 7.6 6.7 13.5 13.6 9.9l44.8-23.6c2.7-1.4 6-1.4 8.7 0l44.8 23.6c6.9 3.6 14.9-2.2 13.6-9.9l-8.6-49.9c-.5-3 .5-6.1 2.7-8.3l36.3-35.4c5.6-5.4 2.5-14.8-5.2-16l-50.1-7.3c-3-.4-5.7-2.4-7-5.1l-22.4-45.4z"/></svg>
                                        </span>
                                        <span class="username {{ user.css_class }}">{{ user.username }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div></div>
                                <p>Stay tuned for upcoming contests in this month</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team" class="hall-section">
        <div class="hall-content">
            <h2>Team Members</h2>
            <div class="card-groups-container">
                <div class="card-groups">
                    <div class="card-group" data-status="active" data-group="0">
                        <div class="member-card">
                            <img src="https://placehold.co/600x400/EEE/31343C" />
                            <h3 class="member-card__name">Member Name</h3>
                            <p class="member-card__role">Member role</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                                consequuntur modi voluptates facere debitis officia quibusdam ad,
                                cum velit hic, quisquam atque aliquid tenetur, quidem inventore
                                ipsa optio delectus amet.
                            </p>
                        </div>
                        <div class="member-card">
                            <img src="https://placehold.co/600x400/EEE/31343C" />
                            <h3 class="member-card__name">Member Name</h3>
                            <p class="member-card__role">Member role</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                                consequuntur modi voluptates facere debitis officia quibusdam ad,
                                cum velit hic, quisquam atque aliquid tenetur, quidem inventore
                                ipsa optio delectus amet.
                            </p>
                        </div>
                        <div class="member-card">
                            <img src="https://placehold.co/600x400/EEE/31343C" />
                            <h3 class="member-card__name">Member Name</h3>
                            <p class="member-card__role">Member role</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                                consequuntur modi voluptates facere debitis officia quibusdam ad,
                                cum velit hic, quisquam atque aliquid tenetur, quidem inventore
                                ipsa optio delectus amet.
                            </p>
                        </div>
                        <div class="member-card">
                            <img src="https://placehold.co/600x400/EEE/31343C" />
                            <h3 class="member-card__name">Member Name</h3>
                            <p class="member-card__role">Member role</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                                consequuntur modi voluptates facere debitis officia quibusdam ad,
                                cum velit hic, quisquam atque aliquid tenetur, quidem inventore
                                ipsa optio delectus amet.
                            </p>
                        </div>
                    </div>
                    <div class="card-group" data-status="hidden" data-group="1">
                        <div class="member-card">
                            <img src="https://placehold.co/600x400/EEE/31343C" />
                            <h3 class="member-card__name">Member Name</h3>
                            <p class="member-card__role">Member role</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                                consequuntur modi voluptates facere debitis officia quibusdam ad,
                                cum velit hic, quisquam atque aliquid tenetur, quidem inventore
                                ipsa optio delectus amet.
                            </p>
                        </div>
                        <div class="member-card">
                            <img src="https://placehold.co/600x400/EEE/31343C" />
                            <h3 class="member-card__name">Member Name</h3>
                            <p class="member-card__role">Member role</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                                consequuntur modi voluptates facere debitis officia quibusdam ad,
                                cum velit hic, quisquam atque aliquid tenetur, quidem inventore
                                ipsa optio delectus amet.
                            </p>
                        </div>
                        <div class="member-card">
                            <img src="https://placehold.co/600x400/EEE/31343C" />
                            <h3 class="member-card__name">Member Name</h3>
                            <p class="member-card__role">Member role</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                                consequuntur modi voluptates facere debitis officia quibusdam ad,
                                cum velit hic, quisquam atque aliquid tenetur, quidem inventore
                                ipsa optio delectus amet.
                            </p>
                        </div>
                        <div class="member-card">
                            <img src="https://placehold.co/600x400/EEE/31343C" />
                            <h3 class="member-card__name">Member Name</h3>
                            <p class="member-card__role">Member role</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                                consequuntur modi voluptates facere debitis officia quibusdam ad,
                                cum velit hic, quisquam atque aliquid tenetur, quidem inventore
                                ipsa optio delectus amet.
                            </p>
                        </div>
                    </div>
                    <div class="card-group" data-status="hidden" data-group="2">
                        <div class="member-card">
                            <img src="https://placehold.co/600x400/EEE/31343C" />
                            <h3 class="member-card__name">Member Name</h3>
                            <p class="member-card__role">Member role</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                                consequuntur modi voluptates facere debitis officia quibusdam ad,
                                cum velit hic, quisquam atque aliquid tenetur, quidem inventore
                                ipsa optio delectus amet.
                            </p>
                        </div>
                        <div class="member-card">
                            <img src="https://placehold.co/600x400/EEE/31343C" />
                            <h3 class="member-card__name">Member Name</h3>
                            <p class="member-card__role">Member role</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                                consequuntur modi voluptates facere debitis officia quibusdam ad,
                                cum velit hic, quisquam atque aliquid tenetur, quidem inventore
                                ipsa optio delectus amet.
                            </p>
                        </div>
                        <div class="member-card">
                            <img src="https://placehold.co/600x400/EEE/31343C" />
                            <h3 class="member-card__name">Member Name</h3>
                            <p class="member-card__role">Member role</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                                consequuntur modi voluptates facere debitis officia quibusdam ad,
                                cum velit hic, quisquam atque aliquid tenetur, quidem inventore
                                ipsa optio delectus amet.
                            </p>
                        </div>
                        <div class="member-card">
                            <img src="https://placehold.co/600x400/EEE/31343C" />
                            <h3 class="member-card__name">Member Name</h3>
                            <p class="member-card__role">Member role</p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                                consequuntur modi voluptates facere debitis officia quibusdam ad,
                                cum velit hic, quisquam atque aliquid tenetur, quidem inventore
                                ipsa optio delectus amet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <!-- <button class="btn active"></button>
                    <button class="btn"></button> -->
                </div>
            </div>
        </div>
    </section>
    <div class="go-up">
        <i class="fa fa-chevron-up"></i>
    </div>

{% endblock %}
