<thead>
    <tr>
        <th class="header rank">{{ rank_header or _("Rank") }}</th>
        {% block after_rank_head %}{% endblock %}
        <th class="header username">{{ _('Username') }}</th>
        {% block before_point_head %}{% endblock %}
    
        <th class="header points">
            {% if sort_links %}<a href="{{ sort_links.contribution_points }}">{% endif %}
            {{ _('Contribution points') }}
            {%- if sort_links %}{{ sort_order.contribution_points }}</a>{% endif %}
        </th>
        {% block contribution_head %}{% endblock %}
    </tr>
</thead>

<tbody>
{% for rank, user in contributors %}
    <tr id="user-{{ user.user.username }}" {% block row_extra scoped %}{% endblock %}>
        <td>{{ rank }}</td>
        {% block after_rank scoped %}{% endblock %}
        <td class="user-name"> 
            <div style="float:left"> {% block user_name_display scoped %} {{ link_user(user) }} {% endblock %} </div> 
            <div style="float:right"> {% block user_data scoped %}{% endblock %} </div>
        </td>
        {% block contribution scoped %}{% endblock %}
    </tr>
{% endfor %}
</tbody>
