{% spaceless %}
<table {% if table_id %}id="{{ table_id }}"{% endif %} class="users-table table striped">
    <thead>
        <tr>
            <th class="header rank" style="width: 5%;">{{ rank_header or _("Rank") }}</th>
            {% block after_rank_head %}{% endblock %}
            <th class="header username">{{ _('Username') }}</th>
            {% block before_point_head %}{% endblock %}
            <th class="header points">
                {%- block point_head %}
                    {% if sort_links %}<a href="{{ sort_links.performance_points }}">{% endif -%}
                    {{ _('Points') }}
                    {%- if sort_links %}{{ sort_order.performance_points }}</a>{% endif %}
                {% endblock -%}
            </th>
            {% block after_point_head %}{% endblock %}
        </tr>
    </thead>

    <tbody>
    {% for rank, user in users %}
        <tr id="user-{{ user.user.username }}" {% block row_extra scoped %}{% endblock %}>
            <td>{{ rank }}</td>
            {% block after_rank scoped %}{% endblock %}
            <td class="user-name">
                <div>
                    <div style="float:left">
                        {% block user_name_display scoped %} {{ link_user(user) }} {% endblock %}
                        <div class="personal-info">
                            {% block personal_info_display scoped %}
                                <span>{{ user.user.first_name }}</span>
                            {% endblock %}
                        </div>
                    </div>
                    <div style="float:right">
                        {% block user_name_data scoped %}{% endblock %}
                        {% block admin_operations scoped %}{% endblock %}
                        <div class="personal-info" style="text-align: right;">
                            {% block personal_info_data scoped %}
                                <em>
                                    {# DON'T USE FILTER HERE. Unlisted orgs have already filtered out via prefetch_related #}
                                    {% for organization in user.organizations.all() %}
                                        <a href="{{ organization.get_absolute_url() }}">{{ organization.name }}</a>{% if not loop.last %} | {% endif %}
                                    {% endfor %}
                                </em>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% block before_point scoped %}{% endblock %}
            {% block point scoped %}
                <td title="{{ user.performance_points|floatformat(2) }}" class="user-points">
                    {{- user.performance_points|floatformat(2) -}}
                </td>
            {% endblock %}
            {% block after_point scoped %}{% endblock %}
        </tr>
    {% endfor %}
    {% block after_user_list scoped %}{% endblock %}
    </tbody>
</table>
{% endspaceless %}
