<thead>
    <tr>
        <th class="header rank" style="width: 5%;">{{ rank_header or _("Rank") }}</th>
        {% block after_rank_head %}{% endblock %}
        <th class="header username" style="width: 30%;">{{ _('Username') }}</th>
        <th class="header personal-info" style="width: 70%;">{{ _('Personal Info') }}</th>
        {% block before_point_head %}{% endblock %}

        <th class="header points">
            {% block point_head %}
                {% if sort_links %}<a href="{{ sort_links.performance_points }}">{% endif %}
                {{ _('Points') }}
                {%- if sort_links %}{{ sort_order.performance_points }}</a>{% endif %}
            {% endblock %}
        </th>
        {% block after_point_head %}{% endblock %}
    </tr>
</thead>

<tbody>
{% for rank, user in users %}
    <tr id="user-{{ user.user.username }}" {% block row_extra scoped %}{% endblock %}>
        <td>{{ rank }}</td>
        {% block after_rank scoped %}{% endblock %}
        <td class="user-name">
            <div style="float:left">{% block user_name_display scoped %} {{ link_user(user) }} {% endblock %}</div>
            <div style="float:right">{% block user_name_data scoped %}{% endblock %}</div>
        </td>
        <td class="personal-info">
            <div style="float:left">
                {% block personal_info_display scoped %}
                    <span style="font-weight: 600; color: gray;">{{ user.user.first_name }}</span>
                {% endblock %}
            </div>
            <div style="float:right; text-align: right;">
                {% block personal_info_data scoped %}
                    <em style="font-size: 0.75em; color:grey;">
                        {% for organization in user.organizations.all() %}
                            <a style="color:grey;" href="{{ organization.get_absolute_url() }}">{{ organization.name }}</a>{% if not loop.last %} | {% endif %}
                        {% endfor %}
                    </em>
                {% endblock %}
            </div>
        </td>
        {% block before_point scoped %}{% endblock %}
        {% block point scoped %}
            <td title="{{ user.performance_points|floatformat(2) }}" class="user-points">
                {{ user.performance_points|floatformat(2) }}
            </td>
        {% endblock %}
        {% block after_point scoped %}{% endblock %}
    </tr>
{% endfor %}
</tbody>
